{% extends 'admin/layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
	{% autoescape false %}
		<div class="row">
			<div class="col">
				<h2 class="mb-4">
					{{ 'user.gestion.page_title'|trans({}, 'admin') }}
				</h2>

				<p class="text-right">
					<a href="{{ path('admin_user_create') }}" class="btn btn-lg btn-success">
						<i class="fas fa-plus"></i> {{ 'user.button.create'|trans({}, 'admin') }}
					</a>
				</p>

				<table class="table table-hover table-striped datatable" id="user_home">
					<thead>
					<tr>
						<th scope="col">{{ 'user.label.firstname'|trans({}, 'admin') }}</th>
						<th scope="col">{{ 'user.label.lastname'|trans({}, 'admin') }}</th>
						<th scope="col">{{ 'user.label.username'|trans({}, 'admin') }}</th>
						<th scope="col">{{ 'user.label.email'|trans({}, 'admin') }}</th>
						<th scope="col">{{ 'user.label.role'|trans({}, 'admin') }}</th>
						<th scope="col"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'user.label.actions'|trans({}, 'admin') }}</th>
					</tr>
					</thead>
					<tbody>
					{% if users is defined and users is iterable %}
						{% for user in users %}
							<tr>
								<td>{{ user.firstname }}</td>
								<td>{{ user.lastname }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.email }}</td>
								<td>
									{% if user.roles is defined and user.roles is iterable %}
										{% for role in user.roles %}
											{{ role }}
										{% endfor %}
									{% endif %}
								</td>
								<td>
									<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-primary" data-toggle="tooltip" title="{{ 'user.edit_btn_tooltip'|trans({}, 'admin') }}">
										<i class="far fa-edit"></i> {{ 'button.edit'|trans({}) }}
									</a>
									<a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-sm btn-danger" data-toggle="tooltip" title="{{ 'user.delete_btn_tooltip'|trans({}, 'admin') }}">
										<i class="far fa-trash-alt"></i> {{ 'button.delete'|trans({}) }}
									</a>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	{% endautoescape %}
{% endblock %}