<div id="carousel">
    <div>
        <img src="{{asset('build/images/login/bg01.jpg')}}" alt=""/>
        <img src="{{asset('build/images/login/bg02.jpg')}}" alt=""/>
        <img src="{{asset('build/images/login/bg03.jpg')}}" alt=""/>
        <img src="{{asset('build/images/login/bg04.jpg')}}" alt=""/>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="slogans">
                        <div>
                            {{ 'carousel.text_1'|trans|raw }}
                        </div>
                        <div>
                            {{ 'carousel.text_2'|trans|raw }}
                        </div>
                        <div>
                            {{ 'carousel.text_3'|trans|raw }}
                        </div>
                        <div>
                            {{ 'carousel.text_4'|trans|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>