{% extends 'security/layout.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}forgot-password{% endblock %}

{% block body %}
    {% include 'security/carousel.html.twig' %}
    
    <div class="container">
        <div class="justify-content-end align-items-center row">
            <div class="col-lg-6 offset-lg-6">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="login-form">
                    <form method="post">
                        <fieldset>
                            <div class="logo">
                                <a href="{{ path('app_home') }}"><img src="{{asset('build/images/logo_login.png')}}" alt="Logo" /></a>
                            </div>

                            <div class="ico"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'login.form.title.forgot_password'|trans({}, 'trad') }}</div>

                            <div>
                                <div class="form-group">
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="{{ 'login.form.label.email'|trans({}, 'trad') }}" required autofocus>
                                </div>


                                <button type="submit" class="btn btn-primary">
                                    <i class="far fa-envelope"></i> {{ 'login.form.label.send_password_reset_email'|trans({}, 'trad') }}
                                </button>
                            </div>

                            <div id="new-profile">
                                {{ 'login.form.title.you_do_not_have_an_account'|trans({}, 'trad') }}
                                <a href="{{ path('app_signup') }}">
                                   {{ 'login.form.sign_up'|trans({}, 'trad') }}
                                </a>
                            </div>
                        </fieldset>
                    </form>



                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('common') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
