{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Administration{% endblock %}

{% block carousel %}
{% include 'security/carousel.html.twig' %}
{% endblock %}

{% block body %}
<div class="wrapper d-flex align-items-stretch" style="height: 100%;">
    <div class="switch-langue switch-langue-login">
        <div class="dropdown ml-2">
            <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="flag-icon flag-icon-{{ app.request.locale == 'en' ? 'gb' : app.request.locale }}"> </span> {{ app.request.locale|capitalize }}
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                {% set current_path = app.request.get('_route') %}
                {% set route_params = app.request.attributes.get('_route_params') %}
                <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'en'})) }}"><span class="flag-icon flag-icon-gb"> </span>  En</a>
                <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'fr'})) }}"><span class="flag-icon flag-icon-fr"> </span>  Fr</a>
                <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'pl'})) }}"><span class="flag-icon flag-icon-it"> </span>  Pl</a>
                <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'it'})) }}"><span class="flag-icon flag-icon-ru"> </span>  It</a>
            </div>
        </div>
    </div>

    <!-- Page Content  -->
    <div class="container-fluid px-0">
        <div id="content" style="height: 100%;">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </div>

    {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}

