{% extends 'security/layout.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}login
{% endblock %}

{% block content %}
	<div class="container" style="height: 100%;">
		<div class="justify-content-end align-items-center row" style="height: 100%;">
			<div class="col-lg-6 offset-lg-6">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}

				<div class="login-form">
					<form method="post">
						<fieldset>
							<div class="logo">
								<a href="{{ path('app_home') }}"><img src="{{asset('build/images/logo_login.png')}}" alt="Logo"/></a>
							</div>

							<div class="ico">
								<i class="fa fa-lock" aria-hidden="true"></i>
								{{ 'login.form.title.connect'|trans }}</div>

							<div>
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="text-center">
										<a href="{{ path('app_logout') }}">{{ 'login.form.disconnect_button'|trans }}</a>
									</div>
								{% else %}
									<div class="form-group">
										<input type="username" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'login.form.label.email_or_username'|trans }}" required autofocus>
									</div>

									<div class="form-group">
										<input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'login.form.label.password.first'|trans }}" required>
									</div>

									<input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

									<button type="submit" class="btn btn-primary">
										<i class="fas fa-sign-in-alt"></i>
										{{ 'login.form.sign_in'|trans }}
									</button>
								{% endif %}
							</div>

							<div id="new-profile">
								{{ 'login.form.title.you_do_not_have_an_account'|trans }}
								<a href="{{ path('app_signup') }}">
									{{ 'login.form.sign_up'|trans }}
								</a>
							</div>

							<div class="text-center forgot-password">
								<a href="{{ path('app_forgot_password') }}">Forgot password?</a>
							</div>

							<div class="text-center forgot-password">
								<a href="{{ path('app_app_home_index') }}">{{ 'nav.search_page'|trans }}</a>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('common') }}
	{{ encore_entry_script_tags('login') }}
{% endblock %}
