{% extends 'security/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}


{% block body %}

    <div class="container mt-5 mb-5">

        <div class="justify-content-center row">

            <div class="col-12 col-lg-4">
                <div class="login-form">
                    <form method="post">
                        <fieldset>
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'form.title.connect'|trans({}, 'login') }}</legend>

                            <div>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        {{ 'form.disconnect_message'|trans({'%username%': app.user.username }, 'login') }}, <a href="{{ path('app_logout') }}">{{ 'form.disconnect_button'|trans({}, 'login') }}</a>
                                        {{ 'form.or'|trans({}, 'login') }} <a href="{{ path('admin_home') }}">{{ 'form.admin_access_button'|trans({}, 'login') }}</a>
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <input type="username" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'form.label.email'|trans({}, 'login') }}" required autofocus>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'form.label.password.password'|trans({}, 'login') }}" required>
                                </div>

                                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Sign in'|trans({}, 'login') }}
                                </button>
                            </div>

                            <div id="new-profile">
                                {{ 'You do not have an account?'|trans({}, 'login') }}
                                <a href="{{ path('app_signup') }}">
                                   {{ 'Sign up'|trans({}, 'login') }}
                                </a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
