{% extends 'security/layout.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}signup
{% endblock %}

{% block content %}
	<div class="container" style="height: 100%;">
		<div class="justify-content-end align-items-center row" style="height: 100%;">
			<div class="col-lg-6 offset-lg-6">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}

				<div class="login-form">
					<fieldset class="user">
						<div class="logo">
							<a href="{{ path('app_home') }}"><img src="{{asset('build/images/logo_login.png')}}" alt="Logo"/></a>
						</div>

						<div class="ico">
							<i class="fa fa-lock" aria-hidden="true"></i>
							{{ 'login.form.title.signup'|trans }}
						</div>

						<ul class="tabs-signup">
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'user'}) }}" class="nav-link">
									<i class="fas fa-user"></i>
									<span>{{ 'i_am_a_user'|trans }}</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'institution'}) }}" class="nav-link">
									<i class="fas fa-school"></i>
									<span>{{ 'i_am_an_institution'|trans }}</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'recruiter'}) }}" class="nav-link">
									<i class="fas fa-industry"></i>
									<span>{{ 'i_am_a_recruiter'|trans }}</span>
								</a>
							</li>
						</ul>

						<div id="new-profile">
							{{ 'you_have_an_account'|trans }}
							<a href="{{ path('app_login') }}">
								{{ 'sign_in'|trans }}
							</a>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('login') }}
{% endblock %}
