{% extends 'security/layout.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}signup-institution signup-form
{% endblock %}

{% block content %}
	<div class="container">
		<div class="justify-content-end align-items-center row">
			<div class="col-lg-6 offset-lg-6">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}

				<div class="login-form">
					<fieldset class="user">
						<div class="logo">
							<a href="{{ path('app_home') }}"><img src="{{asset('build/images/logo_login.png')}}" alt="Logo"/></a>
						</div>

						<div class="ico">
							<i class="fa fa-lock" aria-hidden="true"></i>
							{{ 'login.form.title.signup'|trans }}
						</div>

						<ul class="tabs-signup active">
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'user'}) }}" class="nav-link">
									<i class="fas fa-user"></i>
									<span>{{ 'i_am_a_user'|trans }}</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'institution'}) }}" class="nav-link">
									<i class="fas fa-school"></i>
									<span>{{ 'i_am_an_institution'|trans }}</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('app_signup', {type: 'recruiter'}) }}" class="nav-link active">
									<i class="fas fa-industry"></i>
									<span>{{ 'i_am_a_recruiter'|trans }}</span>
								</a>
							</li>
						</ul>

						{% if app.user %}
							<div class="mb-3">
								{{ 'login.form.disconnect_message'|trans({'%username%': app.user.username }) }}
								<a href="{{ path('app_logout') }}">{{ 'login.form.disconnect_button'|trans }}</a>
								{{ 'login.form.or'|trans }}
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ path('admin_home') }}">{{ 'login.form.admin_access_button'|trans }}</a>
								{% elseif is_granted('ROLE_INSTITUTION') %}
									<a href="{{ path('app_institution') }}">{{ 'login.form.institution_access_button'|trans }}</a>
								{% elseif is_granted('ROLE_USER') %}
									<a href="{{ path('app_home') }}">{{ 'login.form.user_access_button'|trans }}</a>
								{% endif %}
							</div>
						{% endif %}


						<div id="form-institution">
							{{ form_start(form, {attr: attr|default({})}) }}
							<input type="hidden" name="is_personal" value="0"/>

							<div class="form-group">
								<div>
									{{ form_widget(form.username, {'attr' : {'placeholder': 'recruiter_name'|trans} }) }}
								</div>
							</div>

							<div class="form-group">
                                <div class="map-login">
                                    {% include 'common/map.html.twig' with {'allowed': true, 'page': 'login'} %}
                                </div>
								{{ form_widget(form.address, {'attr' : {'placeholder': 'login.form.label.address'|trans} }) }}
							</div>

							<div class="form-group">
								<div>
									{{ form_widget(form.dateOfBirth, {'attr' : {'placeholder': 'login.form.label.year_of_creation'|trans} }) }}
								</div>
							</div>

							<div class="form-group">
								<div>
									{{ form_widget(form.homepage, {'attr' : {'placeholder': 'login.form.label.homepage'|trans} }) }}
								</div>
							</div>

							<div class="form-group">
								<div>
									{{ form_widget(form.email, {'attr' : {'placeholder': 'login.form.label.email'|trans} }) }}
								</div>
							</div>

							<div class="form-group">
								<div>
									{{ form_widget(form.password.first, {'attr' : {'placeholder': 'login.form.label.password.first'|trans} }) }}
								</div>
							</div>

							<div class="form-group">
								<div>
									{{ form_widget(form.password.second, {'attr' : {'placeholder': 'login.form.label.password.second'|trans} }) }}
								</div>
							</div>

							<div>
								<div>
									{{ form_widget(form.save, { 'label': 'login.form.button.save'|trans }) }}
								</div>
							</div>

							<p class="text-right mt-2 mb-0">
								<small><em>{{ 'login.form.mandatory_field_info'|trans }}</em></small>
							</p>

							{{ form_rest(form) }}
						</div>

						<div id="new-profile">
							{{ 'login.form.you_have_an_account'|trans }}
							<a href="{{ path('app_login') }}">
								{{'sign_in'|trans}}
							</a>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('login') }}
	{{ encore_entry_script_tags('map') }}
{% endblock %}
