<table id="datatable-skill" class="table table-striped table-bordered" style="width:100%">
	<thead>
	<tr>
		<th>{{ 'label.label'|trans }}</th>
		<th>{{ 'label.description'|trans }}</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{% if skills is defined and skills is iterable and skills|length > 0 %}
		{% for skill in skills %}
			<tr>
				<td>{{ skill.preferredLabel }}</td>
				<td>{{ skill.description|u.truncate(100, '...', false) }}</td>
				<td>
					<button class="btn btn-info get-info" data-id="{{ skill.id }}"><i class="fas fa-search-plus"></i></button>
					<button class="btn btn-info btn-related-trainings" data-id="{{ skill.id }}"><i class="fas fa-link"></i> {{ 'button.see_related_trainings'|trans }}</button>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
	</tbody>
</table>
