<table id="datatable-work" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>{{ 'content_training.label.name'|trans({}, 'trad') }}</th>
            <th>{{ 'content_training.label.registered_on'|trans({}, 'trad') }}</th>
            <th>{{ 'content_training.label.registered_by'|trans({}, 'trad') }}</th>
            <th>{{ 'content_training.label.status'|trans({}, 'trad') }}</th>
            <th>{{ 'content_training.label.action'|trans({}, 'trad') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if trainings is defined and trainings is iterable and trainings|length > 0 %}
            {% for training in trainings %}
                <tr>
                    <td>{{ training.name }}</td>
                    <td>{{ training.createdAt|date('Y/m/d') }}</td>
                    <td>
                        {{ training.user.firstname ~ ' ' ~ training.user.lastname }}
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="{{ training.user.email }}"></i>
                    </td>
                    <td>
                        {% if (training.isValidated == true) %}
                            <span class="text-success">{{ 'content_training.label.approved'|trans({}, 'trad') }}</span>
                        {% elseif (training.isRejected == true)%}
                            <span class="text-warning">{{ 'content_training.label.rejected'|trans({}, 'trad') }}</span>
                        {% else %}
                            {{ 'content_training.label.pending'|trans({}, 'trad') }}
                        {% endif %}
                    </td>
                    <td>
                        <button href="#" class="btn btn-primary mt-1 mb-1 see-detail" data-id="{{ training.id }}" data-name="{{ training.name }}" data-description="{{ training.description }}">{{ 'content_training.action.see_details'|trans({}, 'trad') }}</button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
