<table id="datatable-work" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>{{ 'work.label.name'|trans({}, 'admin') }}</th>
            <th>{{ 'work.label.registered_on'|trans({}, 'admin') }}</th>
            <th>{{ 'work.label.registered_by'|trans({}, 'admin') }}</th>
            <th>{{ 'work.label.status'|trans({}, 'admin') }}</th>
            <th>{{ 'work.label.action'|trans({}, 'admin') }}</th>
        </tr>
    </thead>
    <tbody>
        {% if to_validated_trainings is defined and to_validated_trainings is iterable and to_validated_trainings|length > 0 %}
            {% for training in to_validated_trainings %}
                <tr>
                    <td>{{ training.name }}</td>
                    <td>{{ training.createdAt|date('Y/m/d') }}</td>
                    <td>
                        {{ training.user.firstname ~ ' ' ~ training.user.lastname }}
                        <i class="fas fa-info-circle" data-toggle="tooltip" title="{{ training.user.email }}"></i>
                    </td>
                    <td>
                        {% if (training.isValidated == true) %}
                            <span class="text-success">{{ 'work.label.approved'|trans({}, 'admin') }}</span>
                        {% elseif (training.isRejected == true)%}
                            <span class="text-warning">{{ 'work.label.rejected'|trans({}, 'admin') }}</span>
                        {% else %}
                            {{ 'work.label.pending'|trans({}, 'admin') }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="" class="btn btn-success mt-1 mb-1">Approve</a>
                        <a href="" class="btn btn-success mt-1 mb-1">Reject</a>
                        <a href="" class="btn btn-primary mt-1 mb-1">See details</a>
                        <a href="" class="btn btn-danger mt-1 mb-1">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3">{{ 'notification.no_item'|trans({}, 'admin') }}</td></tr>
        {% endif %}
    </tbody>
</table>