<table id="datatable-work" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>{{ 'work.label'|trans({}, 'trad') }}</th>
            <th>{{ 'work.description'|trans({}, 'trad') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if occupations is defined and occupations is iterable and occupations|length > 0 %}
            {% for occupation in occupations %}
                <tr>
                    <td>{{ occupation.preferredLabel }}</td>
                    <td>{{ occupation.description|u.truncate(100, '...', false) }}</td>
                    <td>
                        <button class="btn btn-info get-info" data-id="{{ occupation.id }}"><i class="fas fa-search-plus"></i></button>
                        <button class="btn btn-info btn-related-trainings-work" data-id="{{ occupation.id }}">
                            {{ 'button.see_related_trainings'|trans({}, 'trad') }}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
