{% extends 'front/layout.html.twig' %}

{% block title %}Search!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}
	<div id="search">

        <div class="slider-img">
            <div style="background-image: url({{asset('build/images/search/01.jpg')}})" ></div>
            <div style="background-image: url({{asset('build/images/search/02.jpg')}})" ></div>
            <div style="background-image: url({{asset('build/images/search/03.jpg')}})" ></div>
            <div style="background-image: url({{asset('build/images/search/04.jpg')}})" ></div>
            <div style="background-image: url({{asset('build/images/search/05.jpg')}})" ></div>
            <div style="background-image: url({{asset('build/images/search/06.jpg')}})" ></div>
        </div>

		<div
			class="container">
			{#
				<div class="info">
					<p class="text-center">
						{{ 'home.people_have_found_a_trining_through_the_silkc_path'|trans }}<br />
						{{ 'home.training_available'|trans }}<br />
						{{ 'home.registered_jobs'|trans }}
					</p>
				</div>
			#}

			<div class="search">
				<p class="intro">
					{{ 'home.let_improve'|trans|raw }}
				</p>

				<div class="row">
					<div class="col-md-5 blc-search-by" id="blc-search-by-occupation">
						<form method="POST" action="{{ path('app_search_results') }}">
							<input type="hidden" name="type_search" value="occupation"/>
							<div class="mb-3">
								<p class="title-search">{{ 'home.search_by_occupation'|trans }}</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/occupations',
										'autocomplete': true,
										'placeholder': 'search_by_job_placeholder'|trans,
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_occupation'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary disabled-search" disabled>{{ 'home.find_out_how_to_get_there'|trans }}</button>
							</div>
						</form>
					</div>

					<div class="col-md-5 offset-md-2 blc-search-by" id="blc-search-by-skill">
						<form method="POST" action="{{ path('app_search_results') }}">
							<input type="hidden" name="type_search" value="skill"/>
							<div class="mb-3">
								<p class="title-search">{{ 'home.search_by_skill'|trans }}</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/skills',
										'autocomplete': true,
										'placeholder': 'search_by_skill_placeholder'|trans,
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_skill'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary disabled-search" disabled>{{ 'home.find_out_how_to_get_there'|trans }}</button>
							</div>
						</form>
					</div>
				</div>
				<div class="row checkbox-search">
					<div class="col-12 text-center mt-3">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="search-by-occupation" name="search-by" class="custom-control-input" value="#blc-search-by-occupation" checked>
							<label class="custom-control-label" for="search-by-occupation">By occupation</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="search-by-skill" name="search-by" class="custom-control-input" value="#blc-search-by-skill">
							<label class="custom-control-label" for="search-by-skill">By skill</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="search-info">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="content">
						<div>
							<p>
								<i class="fas fa-graduation-cap"></i>
							</p>
							<p>{{ random(500, 5000) }}</p>
							<p>{{ 'home.training_available'|trans }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="content center">
						<div>
							<p>
								<i class="fas fa-search"></i>
							</p>
							<p>{{ random(500, 5000) }}</p>
							<p>{{ 'home.people_have_found_a_trining_through_the_silkc_path'|trans }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="content">
						<div>
							<p>
								<i class="fas fa-briefcase"></i>
							</p>
							<p>{{ random(500, 5000) }}</p>
							<p>{{ 'home.registered_job'|trans }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="img-bottom">
		<img src="{{asset('build/images/banner_bottom_search.jpg')}}" alt=""/>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search') }}
{% endblock %}
