{% extends 'front/layout.html.twig' %}

{% block title %}Search!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}
	<div id="search">
		<div class="container">
			<div class="info">
				<p class="text-center">
                    {{ 'home.people_have_found_a_trining_through_the_silkc_path'|trans({}, 'trad') }}<br />
                    {{ 'home.training_available'|trans({}, 'trad') }}<br />
                    {{ 'home.registered_jobs'|trans({}, 'trad') }}
				</p>
			</div>

			<div class="search">
				<p class="text-center">
                    {{ 'home.let_improve'|trans({}, 'trad') }}
				</p>

				<div class="row">
					<div class="col-md-6 col-left">
						<form method="POST" action="{{ path('app_search_results') }}">
                            <input type="hidden" name="type_search" value="occupation" />
							<div class="mb-3">
								<p class="title-search"><i class="far fa-list-alt"></i> {{ 'home.search_by_occupation'|trans({}, 'trad') }}</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/occupations',
										'autocomplete': true,
										'placeholder': 'What is your dream job?',
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_occupation'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary disabled-search" disabled >{{ 'home.find_out_how_to_get_there'|trans({}, 'trad') }}</button>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<form method="POST" action="{{ path('app_search_results') }}">
                            <input type="hidden" name="type_search" value="skill" />
							<div class="mb-3">
								<p class="title-search"><i class="fas fa-list"></i> {{ 'home.search_by_skill'|trans({}, 'trad') }}</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/skills',
										'autocomplete': true,
										'placeholder': 'What is your dream job?',
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_skill'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary disabled-search" disabled >{{ 'home.find_out_how_to_get_there'|trans({}, 'trad') }}</button>
							</div>
						</form>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search') }}
{% endblock %}
