<div id="advanced-search" class="mt-2">
	<div>
		<div class="grp">
			<label class="main-title">{{ 'label.distance_from'|trans }}</label>
			<div class="row align-items-center">
				<div class="col-12 mb-3">
					<div class="form-group flex-column align-items-start">
						<div id="searchmap"></div>
						<div id="map"></div>
						<input type="hidden" id="city" name="city" value="{{ requestParams.city is defined ? requestParams.city : '' }}">
						<input type="hidden" id="inputCity" name="inputCity" value="{{ requestParams.inputCity is defined ? requestParams.inputCity : '' }}">
					</div>
				</div>
				<div class="col-12">
					<div class="form-group flex-column align-items-start">
						<div class="d-flex flex-row">
							<label for="formControlRangeDistance" class="mr-1">{{ 'label.distance'|trans }}</label>
							<span id="distanceVal">{{ requestParams.distance is defined ? requestParams.distance : 0 }}km</span>
						</div>
						<input id="formControlRangeDistance" data-slider-id='formControlRangeDistance' type="text" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="{{ requestParams.distance is defined ? requestParams.distance : 0 }}"/>
						<input type="hidden" id="distance" name="distance" value="{{ requestParams.distance is defined ? requestParams.distance : 0 }}">
					</div>
				</div>
			</div>
		</div>

		<div class="grp">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group flex-column align-items-start">
						<div class="w-100 d-flex flex-column">
							<div class="d-flex flex-row main-title">
								<label for="formControlRangePrice" class="mr-1">{{ 'label.price'|trans }}</label>
								<span id="priceValMin">
									<span>{{ requestParams.minPrice is defined ? requestParams.minPrice : 0 }}</span>
								</span>
								<span class="mr-1 ml-1">
									-
								</span>
								<span id="priceValMax">
									<span>{{ requestParams.maxPrice is defined ? requestParams.maxPrice : defaultMaxPrice }}</span>
									<span>{{ requestParams.currency is defined ? requestParams.currency : '€' }}</span>
								</span>
							</div>
							<div class="d-flex flex-row align-items-center flex-nowrap">
								<input
									id="formControlRangePrice"
									type="text"
									class="form-control"
									value=""
									data-slider-min="0"
									data-slider-max="{{ defaultMaxPrice }}"
									data-slider-step="5"
									data-slider-value="[{{ requestParams.minPrice is defined ? requestParams.minPrice : 0 }},{{ requestParams.maxPrice is defined ? requestParams.maxPrice : defaultMaxPrice }}]"
								/>
								<div class="input-group-append ml-4">
									<select id="currency" class="form-control custom-select" name="currency">
										<option data-acronym="€" value="euro" {% if requestParams.currency is defined and requestParams.currency == "euro" %} selected="selected" {% endif %}>Euro</option>
										<option data-acronym="zł" value="złoty" {% if requestParams.currency is defined and requestParams.currency == "złoty" %} selected="selected" {% endif %}>Złoty</option>
									</select>
								</div>
							</div>
						</div>
						<input type="hidden" id="minPrice" name="minPrice" value="{{ requestParams.minPrice is defined ? requestParams.minPrice : 0 }}">
						<input type="hidden" id="maxPrice" name="maxPrice" value="{{ requestParams.maxPrice is defined ? requestParams.maxPrice : defaultMaxPrice }}">
					</div>
				</div>
			</div>
		</div>

		<div class="grp">
			<label class="main-title">{{ 'label.date'|trans }}</label>
			<div class="row">
				<div class="col-12">
					<div>
						<div class="form-group flex-column align-items-start mb-3">
							<label for="startAt">{{ 'label.start'|trans }}</label>
							<input type="date" id="startAt" class="form-control" name="startAt" value="{{ requestParams.startAt is defined ? requestParams.startAt : '' }}">
						</div>

						<div class="form-group flex-column align-items-start">
							<label for="endAt">{{ 'label.end'|trans }}</label>
							<input type="date" id="endAt" class="form-control" name="endAt" value="{{ requestParams.endAt is defined ? requestParams.endAt : '' }}">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grp">
			<div class="row">
				<div class="col-12">
					<div class="form-group flex-column align-items-start">
						<div class="w-100 d-flex flex-column">
							<div class="d-flex flex-row main-title">
								<label for="formControlRangeDuration" title="{{ 'effective_duration_tooltip'|trans }}" data-toggle="tooltip" class="mr-1">
									{{ 'label.effective_duration'|trans }}
								</label>
								<span id="durationValMin">
									<span>{{ requestParams.minDuration is defined ? requestParams.minDuration : 0 }}</span>
								</span>
								<span class="mr-1 ml-1">
									-
								</span>
								<span id="durationValMax">
									<span>{{ requestParams.maxDuration is defined ? requestParams.maxDuration : 100 }}</span>
									<span style="text-transform: none !important;">{{ requestParams.unity is defined ? requestParams.unity : 'label.days_filter'|trans }}</span>
								</span>
							</div>
							<div class="d-flex flex-row align-items-center flex-nowrap">
								<input
									id="formControlRangeDuration"
									type="text"
									class="form-control"
									value=""
									data-slider-min="0"
									data-slider-max="100"
									data-slider-step="1"
									data-slider-value="[{{ requestParams.minDuration is defined ? requestParams.minDuration : 0 }},{{ requestParams.maxDuration is defined ? requestParams.maxDuration : 100 }}]"
								/>
								<div class="input-group-append ml-4">
									<select id="unity" class="form-control custom-select" name="unity">
										<option value="hours" {% if requestParams.unity is defined and requestParams.unity == "hours" %} selected="selected" {% endif %}>{{ 'label.hours_filter'|trans }}</option>
										<option value="days" {% if requestParams.unity is not defined or requestParams.unity is null or requestParams.unity == "days" %} selected="selected" {% endif %}>{{ 'label.days_filter'|trans }}</option>
										<option value="weeks" {% if requestParams.unity is defined and requestParams.unity == "weeks" %} selected="selected" {% endif %}>{{ 'label.weeks_filter'|trans }}</option>
										<option value="months" {% if requestParams.unity is defined and requestParams.unity == "months" %} selected="selected" {% endif %}>{{ 'label.months_filter'|trans }}</option>
									</select>
								</div>
							</div>
						</div>
						<input type="hidden" id="minDuration" name="minDuration" value="{{ requestParams.minDuration is defined ? requestParams.minDuration : 0 }}">
						<input type="hidden" id="maxDuration" name="maxDuration" value="{{ requestParams.maxDuration is defined ? requestParams.maxDuration : 100 }}">
					</div>
				</div>
			</div>
		</div>

		<div class="grp">
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" name="isOnline" id="isOnline" class="form-check-input" {{ requestParams.isOnline is defined ? 'checked="cheked"' : '' }}>
							<label class="form-check-label" for="isOnline">{{ 'label.online'|trans }}</label>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" name="isOnlineMonitored" id="isOnlineMonitored" class="form-check-input" {{ requestParams.isOnlineMonitored is defined ? 'checked="cheked"' : '' }}>
							<label class="form-check-label" for="isOnlineMonitored">{{ 'label.is_online_monitored'|trans }}</label>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" name="isPresential" id="isPresential" class="form-check-input" {{ requestParams.isPresential is defined ? 'checked="cheked"' : '' }}>
							<label class="form-check-label" for="isPresential">{{ 'label.is_presential'|trans }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grp grp-last">
			<div class="row mb-2">
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" name="excludeTraining" id="exclude-training-without-completed-description" class="form-check-input" {{ requestParams.excludeTraining is defined ? 'checked="cheked"' : '' }}>
							<label class="form-check-label" for="exclude-training-without-completed-description">{{ 'label.exclude_training_without_a_completed_description'|trans }}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<div class="form-check">
							<input type="checkbox" name="specifiedDuration" id="without-specified-duration" class="form-check-input" {{ requestParams.specifiedDuration is defined ? 'checked="cheked"' : '' }}>
							<label class="form-check-label" for="without-specified-duration">{{ 'label.without_specified_duration'|trans }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="blc-btn d-flex flex-nowrap justify-content-end">
            <button type="button" class="btn btn-warning btn-clear mr-1">{{ 'label.clear'|trans }}</button>
            <button type="submit" class="btn btn-primary">{{ 'label.refine_my_search'|trans }}</button>
		</div>
	</div>
</div>
