{% extends 'front/layout.html.twig' %}

{% block title %}
    {{ 'title_page.results'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search_results') }}
{% endblock %}

{% block body %}
	<div id="search-results">
		<div class="container">

            {% include 'front/search/search.html.twig' %}
            {% include 'front/search/results.html.twig' %}
		</div>
	</div>
{% endblock %}


{% block javascripts %}
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet-src.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search_results') }}
{% endblock %}
