{% extends 'front/layout.html.twig' %}

{% block title %}
	{{ 'title_page.results'|trans }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search_results') }}
{% endblock %}

{% block body %}
	<div id="search-results">
		<div class="container">
			<form class="form-inline form-search form-results" method="POST" action="{{ path('app_search_results') }}">
				{% include 'front/search/search.html.twig' %}
				<div class="w-100">
					<button class="btn btn-sm btn-primary btn-filters mt-2" type="button" data-toggle="tooltip" title="{{ 'label.advanced_search'|trans }}" {% if is_granted('IS_AUTHENTICATED_FULLY') == false %} disabled {% endif %}>
						<i class="fas fa-filter"></i>
					</button>
				</div>
				{% include 'front/search/results.html.twig' %}
			</form>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script src="https://unpkg.com/leaflet@latest/dist/leaflet-src.js"></script>
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search_results') }}
{% endblock %}
