<div class="results">
	<div id="accordion">
		{% if trainings is defined and trainings is iterable and trainings|length > 0 %}
			{% for training in trainings %}
				<div class="card mt-1" data-name="{{ attribute(training, 'name') is defined and training.name is not empty ? training.name : '' }}" data-id="{{ attribute(training, 'id') is defined and training.id is not empty ? training.id : '' }}">
					<div class="card-header" id="heading{{ loop.index0 }}">
						<h5 class="d-flex justify-content-between align-items-center">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index0 }}">
								<div class="title">
									{{ attribute(training, 'name') is defined and training.name is not empty ? training.name : '' }}
									({{ attribute(training, 'score') is defined and training.score is not empty ? training.score : '' }}% {{ 'match'|trans  }})
								</div>
							</button>
							<div class="count">
								({{ loop.index }}
								of
								{{ trainings|length }}
								training {% if is_granted('IS_AUTHENTICATED_FULLY') == false %} - <a href="{{ path('app_login') }}">{{ 'login_to_finetune'|trans  }}</a>{% endif %}
								)
							</div>
						</h5>
					</div>

					<div id="collapse{{ loop.index0 }}" class="collapse" aria-labelledby="heading{{ loop.index0 }}" data-parent="#accordion">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">

									<div class="row mb-3">
										<div class="col-lg-4">
											<span class="title">{{ 'label.institution_name'|trans  }}</span>
										</div>
										<div class="col-lg-8">
											<span>
												{% if training.user is defined and training.user.roles is defined and 'ROLE_INSTITUTION' in training.user.roles %}
													{{ training.user.username|capitalize }}
												{% else %}
													{{ training.user.firstname ~ ' ' ~ training.user.lastname }}
												{% endif %}
											</span>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-lg-4">
											<span class="title">{{ 'label.location'|trans  }}</span>
										</div>
										<div class="col-lg-8">
											<div class="google-map" data-location="{{ attribute(training, 'location') is defined and training.location is not empty ? training.location : '-' }}"></div>
											<!--<iframe src="https://maps.google.com/maps?q=paris=&z=6&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>-->
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-lg-4">
											<span class="title">{{ 'label.duration'|trans  }}</span>
										</div>
										<div class="col-lg-8">
											<span>{{ attribute(training, 'duration') is defined and training.duration is not empty ? training.duration : '-' }}</span>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-lg-4">
											<span class="title">{{ 'label.description'|trans  }}</span>
										</div>
										<div class="col-lg-8">
											<p class="text-justify m-0">
												{{ attribute(training, 'description') is defined and training.description is not empty ? training.description : '-' }}
											</p>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-lg-4">
											<span class="title">{{ 'label.price'|trans  }}</span>
										</div>
										<div class="col-lg-8">
											<span>{{ attribute(training, 'price') is defined and training.price is not empty ? training.price : '-' }}</span>
										</div>
									</div>


								</div>
								<div class="col-md-6">
									<div class="mb-3">
										{% if attribute(training, 'requiredSkills') is defined and training.requiredSkills is not empty and training.requiredSkills is iterable %}
											<span class="required-skills d-block mb-3 title">{{ 'required_skills'|trans  }}</span>
											<ul class="list-group">
												{% for trainingSkill in training.requiredSkills %}
													{% set skill = trainingSkill.skill %}
													<li class="list-group-item d-flex justify-content-between align-items-center">
														{{ attribute(skill, 'preferredLabel') is defined and skill.preferredLabel is not empty ? skill.preferredLabel : '-' }}
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>

									<div class="mb-3">
										{% if attribute(training, 'toAcquireSkills') is defined and training.toAcquireSkills is not empty  and training.toAcquireSkills is iterable %}
											<span class="required-skills d-block mb-3 title">{{ 'skills_you_can_acquire'|trans  }}</span>
											<ul class="list-group">
												{% for trainingSkill in training.toAcquireSkills %}
													{% set skill = trainingSkill.skill %}
													<li class="list-group-item d-flex justify-content-between align-items-center">
														{{ attribute(skill, 'preferredLabel') is defined and skill.preferredLabel is not empty ? skill.preferredLabel : '-' }}
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</div>
							</div>

							{% if training.url is defined and training.url is not empty %}
							<div class="text-center">
								<a href="{{ training.url }}" target="_blank" class="btn btn-primary btn-more">{{ 'more_info'|trans  }}</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% elseif trainings is defined and trainings is iterable and trainings|length == 0 %}
            <p style="font-size: 1.2rem;">{{ 'no_result_found'|trans  }}</p>
		{% endif %}
	</div>
</div>
