{% extends 'front/layout.html.twig' %}

{% block title %}Search!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search') }}
{% endblock %}

{% block body %}
	<div id="search">
		<div class="container">
			<div class="info">
				<p class="text-center">
					5000 people have found a trining through the Silkc Path<br>
					800 training available<br>
					2000 registered jobs
				</p>
			</div>

			<div class="search">
				<p class="text-center">
					Let's improve your professional situation!
				</p>

				<div class="row">
					<div class="col-md-6 col-left">
						<form method="POST" action="{{ path('app_search_results') }}">
							<div class="mb-3">
								<p class="title-search"><i class="far fa-list-alt"></i> Search by occupation</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/occupations',
										'autocomplete': true,
										'placeholder': 'What is your dream job?',
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_occupation'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary">Find out how to get there!</button>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<form method="POST" action="{{ path('app_search_results') }}">
							<div class="mb-3">
								<p class="title-search"><i class="fas fa-list"></i> Search by skill</p>
								{% include 'front/elements/input_search.html.twig'
									with {
										'url': '/apip/skills',
										'autocomplete': true,
										'placeholder': 'What is your dream job?',
										'formats': 'json',
										'pagination': 'false',
										'name': 'training_search_by_skill'
									}
								%}
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-primary">Find out how to get there!</button>
							</div>
						</form>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search') }}
{% endblock %}
