{% extends 'front/layout.html.twig' %}

{% block title %}
	Results
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('search_results') }}
{% endblock %}

{% block body %}
	<div id="search-results">
		<div class="container">

			<form class="form-inline search" method="POST" action="{{ path('app_search_results') }}">
				<input type="hidden" name="type_search" value="occupation"/>
				<label for="input-search" class="mr-2">Training opportunities to land your dream job as:</label>
				{% include 'front/elements/input_search.html.twig'
                    with {
                        'id': 'input-search',
                        'url': '/apip/occupations',
                        'autocomplete': true,
                        'placeholder': 'What is your dream job?',
                        'formats': 'json',
                        'pagination': 'false',
                        'name': 'training_search_by_occupation',
                        'value': search is defined and attribute(search, 'name') is defined and search.name is not empty ? search.name : '',
                        'id_input_hidden': search is defined and attribute(search, 'id') is defined and search.id is not empty ? search.id : ''
                    }
                %}
				<button type="submit" class="btn btn-primary ml-2 mr-2">Search</button>

				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#advanced-search" aria-expanded="false" aria-controls="advanced-search" {% if is_granted('IS_AUTHENTICATED_FULLY') == false %} disabled {% endif %}>
					Advanced search
				</button>

				<div class="collapse" id="advanced-search">
					<div>
						<div class="row">
							<div class="col-md-6">



								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="id_input_hidden" id="search_by_skill" value="occupation">
									<label class="form-check-label" for="inlineRadio1">By occupation</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="id_input_hidden" id="search_by_occupation" value="skill">
									<label class="form-check-label" for="inlineRadio2">By skill</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="results">


				<div id="accordion">
					{% if trainings is defined %}
						{% for training in trainings %}
							<div class="card">
								<div class="card-header" id="headingOne">
									<h5 class="d-flex justify-content-between align-items-center">
										<button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index0 }}">
											<div class="title">
												{{ attribute(training, 'name') is defined and training.name is not empty ? training.name : '' }}
												({{ attribute(training, 'score') is defined and training.score is not empty ? training.score : '' }}% match)
											</div>
										</button>
										<div class="count">
											({{ loop.index }}
											of
											{{ trainings|length }}
											training -
											<a href="">Login to finetune</a>)
										</div>
									</h5>
								</div>

								<div id="collapse{{ loop.index0 }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<div class="row">
											<div class="col-md-6">

												<div class="row mb-3">
													<div class="col-lg-4">
														<span class="title">Institution name</span>
													</div>
													<div class="col-lg-8">
														<span>{{ attribute(training, 'name') is defined and training.name is not empty ? training.name : '-' }}</span>
													</div>
												</div>

												<div class="row mb-3">
													<div class="col-lg-4">
														<span class="title">Location</span>
													</div>
													<div class="col-lg-8">
														<div class="google-map" data-location="{{ attribute(training, 'location') is defined and training.location is not empty ? training.location : '-' }}"></div>
														<!--<iframe src="https://maps.google.com/maps?q=paris=&z=6&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>-->
													</div>
												</div>

												<div class="row mb-3">
													<div class="col-lg-4">
														<span class="title">Duration</span>
													</div>
													<div class="col-lg-8">
														<span>{{ attribute(training, 'duration') is defined and training.duration is not empty ? training.duration : '-' }}</span>
													</div>
												</div>

												<div class="row mb-3">
													<div class="col-lg-4">
														<span class="title">Description</span>
													</div>
													<div class="col-lg-8">
														<p class="text-justify m-0">
															{{ attribute(training, 'description') is defined and training.description is not empty ? training.description : '-' }}
														</p>
													</div>
												</div>

												<div class="row mb-3">
													<div class="col-lg-4">
														<span class="title">Price</span>
													</div>
													<div class="col-lg-8">
														<span>{{ attribute(training, 'price') is defined and training.price is not empty ? training.price : '-' }}</span>
													</div>
												</div>


											</div>
											<div class="col-md-6">
												<div class="mb-3">
													{% if attribute(training, 'required_skills') is defined and training.required_skills is not empty and training.required_skills is iterable %}
														<span class="required-skills d-block mb-3 title">Required skills</span>
														<ul class="list-group">
															{% for skill in training.required_skills %}
																<li class="list-group-item d-flex justify-content-between align-items-center">
																	{{ attribute(skill, 'preferred_label') is defined and training.preferred_label is not empty ? skill.preferred_label : '-' }}
																</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>

												<div class="mb-3">
													{% if attribute(training, 'acquired_skills') is defined and training.acquired_skills is not empty  and training.acquired_skills is iterable %}
														<span class="required-skills d-block mb-3 title">Skills you can acquire</span>
														<ul class="list-group">
															{% for skill in training.acquired_skills %}
																<li class="list-group-item d-flex justify-content-between align-items-center">
																	{{ attribute(skill, 'preferred_label') is defined and training.preferred_label is not empty ? skill.preferred_label : '-' }}
																</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
										</div>

										<div class="text-center">
											<a href="#" class="btn btn-primary">More info</a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>

			</div>


			<div class="row">
				<div class="col-md-6"></div>
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>
	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('search_results') }}
{% endblock %}
