{% set skillsIdsRequired = [] %}
{% set skillsIdsAcquired = [] %}

{% if training is defined %}
	{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
		{% for k, trainingSkill in training.trainingSkills %}
			{% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
				{% set skill =  trainingSkill.skill %}
				{% set skillsIdsRequired = skillsIdsRequired|merge([skill.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% if training is defined %}
	{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
		{% for k, trainingSkill in training.trainingSkills %}
			{% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
				{% set skill =  trainingSkill.skill %}
				{% set skillsIdsAcquired = skillsIdsAcquired|merge([skill.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set skillsHidden = {'required': skillsIdsRequired, 'acquired': skillsIdsAcquired,} %}

{{ form_start(form, {attr: attr|default({})}) }}
<div class="row">
	<div class="col-6">
		{{ form_row(form.name) }}
		{% if app.user is defined and app.user is not null and is_granted('ROLE_INSTITUTION') == false %}
			{{ form_row(form.user) }}
			<p class="text-right m-0">
				<button type="button" class="btn btn-link btn-modal-add-user">{{ 'don_t_find_your_institution'|trans }}</button>
			</p>
		{% endif %}

        {% include 'common/map.html.twig' %}

		<p class="text-right">
			<button
				class="btn btn-link"
				id="copy-location"
				{{ (training.latitude is not defined or training.latitude is empty or training.longitude is not defined or training.longitude is empty) ? 'disabled="disabled"' }}
				data-location="{{ (training.latitude is defined and training.latitude is not empty and training.longitude is defined and training.longitude is not empty) ? training.latitude ~ ' ' ~ training.longitude : 'NA'|trans }}"
				title="{{ 'Copy location to cliboard'|trans }}"
				data-toggle="tooltip"
			>
				<i class="far fa-copy"></i>
				{{ 'Copy location'|trans }}
			</button>
		</p>
		{{ form_row(form.location) }}
		{{ form_row(form.url) }}
		<div class="form-group">
			<div class="d-flex flex-row justify-content-between">
				{{ form_label(form.description, null, {'label_attr': {'class': 'd-inline-block'}}) }}
				<small><em>({{ 'markdown_support_info'|trans }} : <a href="https://www.markdownguide.org/basic-syntax/">www.markdownguide.org</a>)</em></small>
			</div>
			{{ form_widget(form.description) }}
		</div>
		{{ form_row(form.language) }}
		<div class="row">
			<div class="col-12">
				{{ form_label(form.price) }}
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex align-items-center">
				{{ form_row(form.isFree) }}

				<div class="input-group mb-3 pl-3">
                    {% if training.isFree is defined and training.isFree == true %}
					    {{ form_widget(form.price, { 'attr':{'disabled': 'disabled'} }) }}
                        <div class="input-group-append blc-currency disabled">
                            {{ form_widget(form.currency) }}
                        </div>
                    {% else %}
					    {{ form_widget(form.price) }}
                        <div class="input-group-append blc-currency">
                            {{ form_widget(form.currency) }}
                        </div>
                    {% endif %}
				</div>
			</div>
		</div>

		{{ form_row(form.startAt) }}
		{{ form_row(form.endAt) }}

		{{ form_label(form.durationValue) }}
		<div class="input-group mb-3">
			{{ form_widget(form.durationValue) }}
			<div class="input-group-append">
				{{ form_widget(form.durationUnity) }}
			</div>
		</div>
		{{ form_row(form.durationDetails) }}

        <div class="chk-custom-inline mt-4">
            <label>{{ 'label.online'|trans }}</label>
		    {{ form_row(form.isOnline) }}
        </div>
        <div class="chk-custom-inline">
            <label>{{ 'label.is_online_monitored'|trans }}</label>
		    {{ form_row(form.isOnlineMonitored) }}
        </div>
        <div class="chk-custom-inline">
            <label>{{ 'label.is_presential'|trans }}</label>
		    {{ form_row(form.isPresential) }}
        </div>
        <div class="chk-custom-inline">
            <label>{{ 'label.is_certified'|trans }}</label>
		    {{ form_row(form.isCertified) }}
        </div>
	</div>

	<div class="col-6">
		<div class="occupations-select">
			{{ form_label(form.occupation, null, { label_attr: { style: 'margin-bottom: 0;' }}) }}
            <span class="subinfotitle mb-2">{{ 'jobs_and_skills_are_based_on_the_ESCO_framework'|trans }} <a href="https://ec.europa.eu/esco/portal" target="blank">https://ec.europa.eu/esco/portal</a></span>
			{{ form_widget(form.occupation) }}
		</div>

		<p class="title mb-0">{{ 'required_skills_for_this_training'|trans  }}</p>
		<div class="p-4 content-skills">
			<div class="mb-3 add-skill-gp" data-type="required">
				<input type="hidden" name="hidden_trainingSkills" id="hidden_trainingSkills" value="{{ skillsHidden is defined ? skillsHidden|json_encode : '' }}"/>
				{% include 'front/elements/input_add_search.html.twig'
					with {
						'id': 'skill-name-required',
						'url': '/apip/skills',
						'autocomplete': true,
						'formats': 'json',
						'pagination': 'false',
						'name': 'skill-name-required',
						'placeholder': 'add_skill'|trans
					}
				%}
				<div class="content-list-skill mt-4">
					<ul class="list-group ul-skills" id="skills-required">
						{% if training is defined %}
							{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
								{% for k, trainingSkill in training.trainingSkills %}
									{% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
										{% set skill =  trainingSkill.skill %}
										<li class="list-group-item">
											<div class="d-flex flex-nowrap justify-content-between">
												<div>
													<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
												</div>
												<div>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input rmv-skill" id="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-name="{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}" data-type="required" value="1" checked="checked">
                                                        <label class="switch-custom custom-control-label" for="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}"></label>
                                                    </div>
													<!--<a href="#" class="rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="required" title="Remove this skill">
														<i class="fas fa-minus"></i>
													</a>-->
												</div>
											</div>
										</li>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<p class="title mb-0">{{ 'skills_acquired_through_this_training'|trans }}</p>
		<div class="p-4 content-skills">
			<div class="mb-3 add-skill-gp" data-type="acquired">
				<div class="content-list-skill">
					<div class="mb-4">
						<div class="pb-3 title-blc-skills">{{ 'esco'|trans }} <span title="{{ 'skills_acquired_occupation_info'|trans }}" data-toggle="tooltip"><i class="fas fa-info-circle"></i></span></div>
						<div class="occupation">
							<ul class="list-group ul-skills" id="skills-occupations-acquired"></ul>
							<a href="#" class="skills-associated" id="all-associated">{{ 'all_associated'|trans }}</a>
						</div>
					</div>
					<div class="pb-3 title-blc-skills">{{ 'no_esco'|trans }} <span title="{{ 'skills_acquired_info'|trans }}" data-toggle="tooltip"><i class="fas fa-info-circle"></i></span></div>
					{% include 'front/elements/input_add_search.html.twig'
                            with {
                            'id': 'skill-name-acquired',
                            'url': '/apip/skills',
                            'autocomplete': true,
                            'formats': 'json',
                            'pagination': 'false',
                            'name': 'skill-name-acquired',
                            'placeholder': 'add_skill'|trans
                        }
                        %}
					<div class="mt-4 mb-4">
						<div class="not-occupation">
							<ul class="list-group ul-skills" id="skills-not-occupations-acquired">
								{% if training is defined %}
									{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
										{% for k, trainingSkill in training.trainingSkills %}
											{% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
												{% set skill =  trainingSkill.skill %}
												<li class="list-group-item">
													<div class="d-flex flex-nowrap justify-content-between">
														<div>
															<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
														</div>
														<div>
                                                            <div class="custom-control custom-switch">
                                                                <input type="checkbox" class="custom-control-input rmv-skill" id="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-name="{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}" data-type="acquired" value="1" checked="checked">
                                                                <label class="switch-custom custom-control-label" for="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}"></label>
                                                            </div>
														</div>
													</div>
												</li>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p class="text-center mt-4">
	{% if form.save_and_validate is defined and form.save_and_validate == true %}
		{{ form_widget(form.save_and_validate, {'label': 'label.save_and_validate'|trans }) }}
	{% endif %}
	{{ form_widget(form.save, {'label': 'label.save'|trans }) }}
</p>
{{ form_end(form) }}
