{% set skillsIdsRequired = [] %}
{% set skillsIdsAcquired = [] %}

{% if training is defined %}
    {% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
        {% for k, trainingSkill in training.trainingSkills %}
            {% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
            {% set skill =  trainingSkill.skill %}
                {% set skillsIdsRequired = skillsIdsRequired|merge([skill.id]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if training is defined %}
    {% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
        {% for k, trainingSkill in training.trainingSkills %}
            {% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
            {% set skill =  trainingSkill.skill %}
                {% set skillsIdsAcquired = skillsIdsAcquired|merge([skill.id]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% set skillsHidden = {'required': skillsIdsRequired, 'acquired': skillsIdsAcquired,} %}

{{ form_start(form, {attr: attr|default({})}) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.name) }}
            {{ form_row(form.location) }}
            {{ form_row(form.duration) }}
            {{ form_row(form.description) }}
            {{ form_row(form.price) }}
            {{ form_row(form.startAt) }}
            {{ form_row(form.endAt) }}            
        </div>

        <div class="col-6">
            {{ form_row(form.url) }}

            <div class="occupations-select">
                {{ form_row(form.occupation) }}
            </div>

            <p class="title">Required skills</p>
            <div class="mb-3 add-skill required">
                <label for="skill-name-required">Skill name</label>
                <input type="hidden" name="hidden_trainingSkills" class="hidden_trainingSkills" value="{{ skillsHidden is defined ? skillsHidden|json_encode : '' }}"/>
                {% include 'front/elements/input_add_skills.html.twig'
                    with {
                        'id': 'skill-name-required',
                        'url': '/apip/skills',
                        'autocomplete': true,
                        'formats': 'json',
                        'pagination': 'false',
                        'name': 'skill-name-required'
                    }
                %}
                <div class="content-list-skill">
                    {% if training is defined %}
                        {% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
                            {% for k, trainingSkill in training.trainingSkills %}
                                {% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
                                {% set skill =  trainingSkill.skill %}
                                    <div class="skill">
                                        <div class="d-flex flex-nowrap justify-content-between">
                                            <div class="d-flex flex-nowrap align-items-center">
                                                <span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
                                            </div>
                                            <div>
                                                <a href="" class="text-danger rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="required" title="Remove this skill">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <p class="title">Acquired skills</p>
            <div class="mb-3 add-skill acquired">
                <label for="skill-name-required">Skill name</label>
                {% include 'front/elements/input_add_skills.html.twig'
                    with {
                        'id': 'skill-name-acquired',
                        'url': '/apip/skills',
                        'autocomplete': true,
                        'formats': 'json',
                        'pagination': 'false',
                        'name': 'skill-name-acquired'
                    }
                %}
                <div class="content-list-skill">
                    {% if training is defined %}
                        {% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
                            {% for k, trainingSkill in training.trainingSkills %}
                                {% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
                                {% set skill =  trainingSkill.skill %}
                                    <div class="skill">
                                        <div class="d-flex flex-nowrap justify-content-between">
                                            <div class="d-flex flex-nowrap align-items-center">
                                                <span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
                                            </div>
                                            <div>
                                                <a href="" class="text-danger rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="acquired" title="Remove this skill">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {{ form_row(form.isOnline) }}
            {{ form_row(form.isOnlineMonitored) }}
            {{ form_row(form.isPresential) }}
        </div>
    </div>

    <p class="text-center">
        {{ form_widget(form.save, {'label': (training is defined) ? 'edit_training' : 'create'}) }}
    </p>
{{ form_end(form) }}

<div class="modal fade" id="modal_skills" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Skills</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add">Add</button>
      </div>
    </div>
  </div>
</div>