{% set skillsIdsRequired = [] %}
{% set skillsIdsAcquired = [] %}

{% if training is defined %}
	{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
		{% for k, trainingSkill in training.trainingSkills %}
			{% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
				{% set skill =  trainingSkill.skill %}
				{% set skillsIdsRequired = skillsIdsRequired|merge([skill.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% if training is defined %}
	{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
		{% for k, trainingSkill in training.trainingSkills %}
			{% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
				{% set skill =  trainingSkill.skill %}
				{% set skillsIdsAcquired = skillsIdsAcquired|merge([skill.id]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set skillsHidden = {'required': skillsIdsRequired, 'acquired': skillsIdsAcquired,} %}

{{ form_start(form, {attr: attr|default({})}) }}
<div class="row">
	<div class="col-6">
		{{ form_row(form.name) }}
		{% if app.user is defined and app.user is not null and is_granted('ROLE_INSTITUTION') == false %}
			{{ form_row(form.user) }}
			<p class="text-right m-0">
				<button type="button" class="btn btn-link btn-modal-add-user">{{ 'don_t_find_your_institution'|trans }}</button>
			</p>
		{% endif %}


        <div id="searchmap"></div>
        <div id="map"></div>
		<p class="text-right">
			<button
				class="btn btn-link"
				id="copy-location"
				{{ (training.latitude is not defined or training.latitude is empty or training.longitude is not defined or training.longitude is empty) ? 'disabled="disabled"' }}
				data-location="{{ (training.latitude is defined and training.latitude is not empty and training.longitude is defined and training.longitude is not empty) ? training.latitude ~ ' ' ~ training.longitude : 'NA'|trans }}"
				title="{{ 'Copy location to cliboard'|trans }}"
				data-toggle="tooltip"
			>
				<i class="far fa-copy"></i>
				{{ 'Copy location'|trans }}
			</button>
		</p>
		{{ form_row(form.location) }}
		{{ form_row(form.url) }}
		<div class="form-group">
			<div class="d-flex flex-row justify-content-between">
				{{ form_label(form.description, null, {'label_attr': {'class': 'd-inline-block'}}) }}
				<small><em>({{ 'markdown_support_info'|trans }} : <a href="https://www.markdownguide.org/basic-syntax/">www.markdownguide.org</a>)</em></small>
			</div>
			{{ form_widget(form.description) }}
		</div>
		{{ form_row(form.language) }}
		{{ form_label(form.price) }}
		<div class="input-group mb-3">
			{{ form_widget(form.price) }}
			<div class="input-group-append">
				{{ form_widget(form.currency) }}
			</div>
		</div>

		{{ form_row(form.startAt) }}
		{{ form_row(form.endAt) }}

		{{ form_label(form.durationValue) }}
		<div class="input-group mb-3">
			{{ form_widget(form.durationValue) }}
			<div class="input-group-append">
				{{ form_widget(form.durationUnity) }}
			</div>
		</div>
		{{ form_row(form.durationDetails) }}

		{{ form_row(form.isOnline) }}
		{{ form_row(form.isOnlineMonitored) }}
		{{ form_row(form.isPresential) }}
	</div>

	<div class="col-6">
		<div class="occupations-select">
			{{ form_row(form.occupation) }}
		</div>

		<p class="title mb-0">{{ 'required_skills'|trans  }}</p>
		<div class="p-4 content-skills">
			<div class="mb-3 add-skill" data-type="required">
				<input type="hidden" name="hidden_trainingSkills" id="hidden_trainingSkills" value="{{ skillsHidden is defined ? skillsHidden|json_encode : '' }}"/>
				{% include 'front/elements/input_add_search.html.twig'
                        with {
                            'id': 'skill-name-required',
                            'url': '/apip/skills',
                            'autocomplete': true,
                            'formats': 'json',
                            'pagination': 'false',
                            'name': 'skill-name-required',
                            'placeholder': "Add skill"
                        }
                    %}
				<div class="content-list-skill mt-4">
					<ul class="list-group ul-skills" id="skills-required">
						{% if training is defined %}
							{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
								{% for k, trainingSkill in training.trainingSkills %}
									{% if attribute(trainingSkill, 'isRequired') is defined and trainingSkill.isRequired == true %}
										{% set skill =  trainingSkill.skill %}
										<li class="list-group-item">
											<div class="d-flex flex-nowrap justify-content-between">
												<div>
													<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
												</div>
												<div>
													<a href="#" class="rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="required" title="Remove this skill">
														<i class="fas fa-minus"></i>
													</a>
												</div>
											</div>
										</li>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<p class="title mb-0">{{ 'acquired_skills'|trans  }}</p>
		<div class="p-4 content-skills">
			<div class="mb-3 add-skill" data-type="acquired">
				<div class="content-list-skill">
					<div class="mt-4 mb-4 pl-4 pr-4 pb-4 pt-2 bg-secondary">
						<div class="pl-2 pr-2 pb-2">{{ 'esco'|trans }}</div>
						<div class="occupation">
							<ul class="list-group ul-skills" id="skills-occupations-acquired"></ul>
							<a href="#" class="skills-associated" id="all-associated">All associated</a>
						</div>
					</div>
					{% include 'front/elements/input_add_search.html.twig'
                            with {
                            'id': 'skill-name-acquired',
                            'url': '/apip/skills',
                            'autocomplete': true,
                            'formats': 'json',
                            'pagination': 'false',
                            'name': 'skill-name-acquired',
                            'placeholder': "Add skill"
                        }
                        %}
					<div class="mt-4 mb-4 pl-4 pr-4 pb-4 pt-2 bg-light">
						<div class="pl-2 pr-2 pb-2">{{ 'no_esco'|trans }}</div>
						<div class="not-occupation">
							<ul class="list-group ul-skills" id="skills-not-occupations-acquired">
								{% if training is defined %}
									{% if attribute(training, 'trainingSkills') is defined and training.trainingSkills is iterable %}
										{% for k, trainingSkill in training.trainingSkills %}
											{% if attribute(trainingSkill, 'isToAcquire') is defined and trainingSkill.isToAcquire == true %}
												{% set skill =  trainingSkill.skill %}
												<li class="list-group-item">
													<div class="d-flex flex-nowrap justify-content-between">
														<div>
															<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
														</div>
														<div>
															<a href="#" class="rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="acquired" title="Remove this skill">
																<i class="fas fa-minus"></i>
															</a>
														</div>
													</div>
												</li>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p class="text-center mt-4">
	{% if form.save_and_validate is defined and form.save_and_validate == true %}
		{{ form_widget(form.save_and_validate, {'label': 'label.save_and_validate'|trans }) }}
	{% endif %}
	{{ form_widget(form.save, {'label': 'label.save'|trans }) }}
</p>
{{ form_end(form) }}
