<fieldset>
	<div class="info">
		Please indicate the name of a training your institution provides
	</div>

	<div class="d-flex align-items-end justify-content-center">
		<label for="training-input">Training name</label>
		<input type="text" class="form-control ml-2 mr-2" id="training-input">
		<button type="button" class="btn btn-primary" id="add-training">Add</button>
	</div>




	<div class="accordion" id="list-trainings">
		{% if trainings is defined %}
			{% for k, training in trainings %}
				<div class="card" data-id="{{ attribute(training, 'id') is defined ? training.id : '' }}">
					<form method="POST" action="{{ path('app_institution') }}">
						<input type="hidden" name="training_id" value="{{ attribute(training, 'id') is defined ? training.id : '' }}"/>
						<div class="card-header" id="heading_{{ k }}">
							<div class="d-flex flex-nowrap justify-content-between">
								<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#training_{{ k }}" aria-expanded="false" aria-controls="training_{{ k }}">
									<a class="text-primary icon mr-2" data-toggle="collapse" href="#training_{{ k }}">
										<i class="fas fa-chevron-circle-right"></i>
									</a>
									<a data-toggle="collapse" href="#training_{{ k }}">
										<span>{{ attribute(training, 'name') is defined ? training.name : '' }}</span>
									</a>
								</div>
								<div class="d-inline-flex align-items-center justify-content-end">
                                    <div class="block-clone">
                                        <span class="spinner-border spinner-border-sm loader" role="status" aria-hidden="true"></span>
                                        <a href="#" class="clone" title="close this training" data-id="{{ attribute(training, 'id') is defined ? training.id : '' }}">
                                            <i class="far fa-clone text-primary"></i>
                                        </a>
                                    </div>
								</div>
							</div>
						</div>


						<div id="training_{{ k }}" class="collapse {% if tab_active is defined and tab_active == 2 and training_active is defined and training_active == training.id %}show{% endif %}" aria-labelledby="heading_{{ k }}" data-parent="#list-trainings">
							<div class="card-body">
                     

								{#<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="training-name_{{ k }}">{{ attribute(training, 'name') is defined  ? training.name : '' }}</label>
											{% include 'front/elements/input_search.html.twig'
                                                with {
                                                    'id': 'training-name_' ~ k,
                                                    'url': '/apip/trainings',
                                                    'autocomplete': true,
                                                    'formats': 'json',
                                                    'pagination': 'false',
                                                    'name': 'name',
                                                    'value': attribute(training, 'name') is defined  ? training.name : ''
                                                }
                                            %}
										</div>

										<div class="form-group">
											<label for="location_{{ k }}">Location</label>
											<input type="text" class="form-control" id="location_{{ k }}" name="location" value="{{ attribute(training, 'location') is defined ? training.location : '' }}">
										</div>

										<div class="form-group">
											<label for="duration_{{ k }}">Duration</label>
											<input type="text" class="form-control" id="duration_{{ k }}" name="duration" value="{{ attribute(training, 'duration') is defined ? training.duration : '' }}">
										</div>

										<div class="form-group">
											<label for="description_{{ k }}">Description</label>
											<textarea class="form-control" id="description_{{ k }}" name="description">{{ attribute(training, 'description') is defined  ? training.description : '' }}</textarea>
										</div>

										<div class="form-group">
											<label for="price_{{ k }}">Price</label>
											<input type="text" class="form-control" id="price_{{ k }}" name="price" value="{{ attribute(training, 'price') is defined ? training.price : '' }}">
										</div>

										<div class="form-group">
											<label for="start-date_{{ k }}">Start date</label>
											<input type="date" class="form-control" id="start-date_{{ k }}" name="start_at" value="{{ attribute(training, 'start_at') is defined ? training.start_at : '' }}">
										</div>

										<div class="form-group">
											<label for="end-date_{{ k }}">End date</label>
											<input type="date" class="form-control" id="end-date_{{ k }}" name="end_at" value="{{ attribute(training, 'end_at') is defined ? training.end_at : '' }}">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="training-info-url_{{ k }}">Training info URL</label>
											<input type="url" class="form-control" id="training-info-url_{{ k }}" name="url" value="{{ attribute(training, 'url') is defined ? training.url : '' }}">
										</div>

										<div class="form-group">
											<label for="upload-info-sheet_{{ k }}">Upload info sheet</label>
											<div class="form-group custom-file">
												<input type="file" class="custom-file-input" id="upload-info-sheet_{{ k }}" name="file" value="{{ attribute(training, 'file') is defined ? training.file : '' }}">
												<label class="custom-file-label" for="upload-info-sheet_{{ k }}">Choose file</label>
											</div>
										</div>

										<p class="title">Required skills</p>

										<div class="mb-3">
											<label for="skill-name-required_{{ k }}">Skill name</label>
											{% include 'front/elements/input_search.html.twig'
                                                with {
                                                    'id': 'skill-name-required_' ~ k,
                                                    'url': '/apip/skills',
                                                    'autocomplete': true,
                                                    'formats': 'json',
                                                    'pagination': 'false',
                                                    'name': 'skill-name-required_' ~ k
                                                }
                                            %}
										</div>

										{% set idsRequiredSkills = [] %}
										<div class="skills-required-list">
											{% if attribute(training, 'requiredSkills') is defined and training.requiredSkills is not empty and training.requiredSkills is iterable %}
												{% for i, trainingSkill in training.requiredSkills %}
													{% set skill = trainingSkill.skill %}
													{% set idsRequiredSkills = idsRequiredSkills|merge([skill.id]) %}
													<div class="skill">
														<div class="d-flex flex-nowrap justify-content-between">
															<div class="d-flex flex-nowrap align-items-center">
																<a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_required_{{ k }}_{{ i }}">
																	<i class="fas fa-chevron-circle-right"></i>
																</a>
																<a data-toggle="collapse" href="#skill_required_{{ k }}_{{ i }}">
																	<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
																</a>
															</div>
															<div>
																<a href="" class="text-danger rmv" title="Remove this skill">
																	<i class="fas fa-trash-alt"></i>
																</a>
															</div>
														</div>

														<div class="content-collapse">
															<div class="collapse" id="skill_required_{{ k }}_{{ i }}">
																<div>
																	<div class="card card-block">
																		{{ attribute(skill, 'description') is defined ? skill.description : '' }}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											{% endif %}
										</div>
										<input type="hidden" value="{{ idsRequiredSkills ? idsRequiredSkills|json_encode() : '' }}" name="ids_required_skills"/>

										<p class="title">Skills students can acquire</p>

										<div class="mb-3">
											<label for="skill-name-acquire_{{ k }}">Skill name</label>
											{% include 'front/elements/input_search.html.twig'
                                                with {
                                                    'id': 'skill-name-acquire_' ~ k,
                                                    'url': '/apip/skills',
                                                    'autocomplete': true,
                                                    'formats': 'json',
                                                    'pagination': 'false',
                                                    'name': 'skill-name-acquire_' ~ k
                                                }
                                            %}
										</div>

										{% set idsToAcquireSkills = [] %}
										<div class="skills-acquire-list">
											{% if attribute(training, 'toAcquireSkills') is defined and training.toAcquireSkills is not empty  and training.toAcquireSkills is iterable %}
												{% for i, trainingSkill in training.toAcquireSkills %}
													{% set skill = trainingSkill.skill %}
													{% set idsToAcquireSkills = idsToAcquireSkills|merge([skill.id]) %}
													<div class="skill">
														<div class="d-flex flex-nowrap justify-content-between">
															<div class="d-flex flex-nowrap align-items-center">
																<a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_acquire_{{ k }}_{{ i }}">
																	<i class="fas fa-chevron-circle-right"></i>
																</a>
																<a data-toggle="collapse" href="#skill_acquire_{{ k }}_{{ i }}">
																	<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
																</a>
															</div>
															<div>
																<a href="" class="text-danger rmv" title="Remove this skill">
																	<i class="fas fa-trash-alt"></i>
																</a>
															</div>
														</div>

														<div class="content-collapse">
															<div class="collapse" id="skill_acquire_{{ k }}_{{ i }}">
																<div>
																	<div class="card card-block">
																		{{ attribute(skill, 'description') is defined ? skill.description : '' }}
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											{% endif %}
										</div>
										<input type="hidden" value="{{ idsToAcquireSkills ? idsToAcquireSkills|json_encode() : '' }}" name="ids_to_acquire_skills"/>
									</div>
								</div>#}
							</div>

							{#<div class="form-group button-group text-center">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>#}
						</div>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</fieldset>

<div class="form-group button-group text-right">
	<button type="submit" class="btn btn-primary">Save</button>
</div>

<script id="tpl_training" type="text/x-dot-template">
	<div class="card">
		<form method="POST" action="{{ path('app_institution') }}">
			<div class="card-header" id="heading_[[? it.k ]][[=it.k]][[?]]">
				<div class="d-flex flex-nowrap justify-content-between">
					<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#training_[[? it.k ]][[=it.k]][[?]]" aria-expanded="false" aria-controls="training_[[? it.k ]][[=it.k]][[?]]">
						<a class="text-primary icon mr-2" data-toggle="collapse" href="#training_[[? it.k ]][[=it.k]][[?]]">
							<i class="fas fa-chevron-circle-right"></i>
						</a>
						<a data-toggle="collapse" href="#training_[[? it.k ]][[=it.k]][[?]]">
							<span>[[? it.name ]][[=it.name]][[?]]</span>
						</a>
					</div>
				</div>
			</div>

			<div id="training_[[? it.k ]][[=it.k]][[?]]" class="collapse show" aria-labelledby="heading_[[? it.k ]][[=it.k]][[?]]" data-parent="#list-trainings">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="training-name_[[? it.k ]][[=it.k]][[?]]">[[? it.name ]][[=it.name]][[?]]</label>
								{% include 'front/elements/input_search.html.twig'
                                    with {
                                        'id': 'training-name_[[? it.k ]][[=it.k]][[?]]',
                                        'url': '/apip/trainings',
                                        'autocomplete': true,
                                        'formats': 'json',
                                        'pagination': 'false',
                                        'name': 'training-name_[[? it.k ]][[=it.k]][[?]]',
                                        'value': '[[? it.name ]][[=it.name]][[?]]'
                                    }
                                %}
							</div>

							<div class="form-group">
								<label for="location_[[? it.k ]][[=it.k]][[?]]">Location</label>
								<input type="text" class="form-control" id="location_[[? it.k ]][[=it.k]][[?]]" value="[[? it.location ]][[=it.location]][[?]]">
							</div>

							<div class="form-group">
								<label for="duration_[[? it.k ]][[=it.k]][[?]]">Duration</label>
								<input type="text" class="form-control" id="duration_[[? it.k ]][[=it.k]][[?]]" value="[[? it.duration ]][[=it.duration]][[?]]">
							</div>

							<div class="form-group">
								<label for="description_[[? it.k ]][[=it.k]][[?]]">Description</label>
								<textarea class="form-control" id="description_[[? it.k ]][[=it.k]][[?]]">[[? it.description ]][[=it.description]][[?]]</textarea>
							</div>

							<div class="form-group">
								<label for="price_[[? it.k ]][[=it.k]][[?]]">Price</label>
								<input type="text" class="form-control" id="price_[[? it.k ]][[=it.k]][[?]]" value="[[? it.price ]][[=it.price]][[?]]">
							</div>

							<div class="form-group">
								<label for="start-date_[[? it.k ]][[=it.k]][[?]]">Start date</label>
								<input type="date" class="form-control" id="start-date_[[? it.k ]][[=it.k]][[?]]" value="[[? it.start_at ]][[=it.start_at]][[?]]">
							</div>

							<div class="form-group">
								<label for="end-date_[[? it.k ]][[=it.k]][[?]]">End date</label>
								<input type="date" class="form-control" id="end-date_[[? it.k ]][[=it.k]][[?]]" value="[[? it.end_at ]][[=it.end_at]][[?]]">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="training-info-url_[[? it.k ]][[=it.k]][[?]]">Training info URL</label>
								<input type="url" class="form-control" id="training-info-url_[[? it.k ]][[=it.k]][[?]]" value="[[? it.url ]][[=it.url]][[?]]">
							</div>

							<div class="form-group">
								<label for="upload-info-sheet_[[? it.k ]][[=it.k]][[?]]">Upload info sheet</label>
								<div class="form-group custom-file">
									<input type="file" class="custom-file-input" id="upload-info-sheet_[[? it.k ]][[=it.k]][[?]]" value="[[? it.file ]][[=it.file]][[?]]">
									<label class="custom-file-label" for="upload-info-sheet_[[? it.k ]][[=it.k]][[?]]">Choose file</label>
								</div>
							</div>

							<p class="title">Required skills</p>

							<div class="mb-3">
								<label for="skill-name-required_[[? it.k ]][[=it.k]][[?]]">Skill name</label>
								{% include 'front/elements/input_search.html.twig'
                                    with {
                                        'id': 'skill-name-required_[[? it.k ]][[=it.k]][[?]]',
                                        'url': '/apip/skills',
                                        'autocomplete': true,
                                        'formats': 'json',
                                        'pagination': 'false',
                                        'name': 'skill-name-required_[[? it.k ]][[=it.k]][[?]]'
                                    }
                                %}
							</div>

							<div class="skills-required-list">
								[[? it.trainingSkills ]]
                                    [[? it.trainingSkills.length ]]
                                        [[~it.trainingSkills :item:i]]
                                            [[? item.skill && item.isRequired && item.isRequired == true ]]
                                                <div class="skill">
                                                    <div class="d-flex flex-nowrap justify-content-between">
                                                        <div class="d-flex flex-nowrap align-items-center">
                                                            <a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_required_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                                <i class="fas fa-chevron-circle-right"></i>
                                                            </a>
                                                            <a data-toggle="collapse" href="#skill_required_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                                <span>[[? item.skill.preferredLabel ]][[=item.skill.preferredLabel]][[?]]</span>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="" class="text-danger rmv" title="Remove this skill">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="content-collapse">
                                                        <div class="collapse" id="skill_required_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                            <div>
                                                                <div class="card card-block">
                                                                    [[? item.skill.description ]][[=item.skill.description]][[?]]
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            [[?]]
                                        [[~]]
                                    [[?]]
                                [[?]]
							</div>

							<p class="title">Skills students can acquire</p>

							<div class="mb-3">
								<label for="skill-name-acquire_[[? it.k ]][[=it.k]][[?]]">Skill name</label>
								{% include 'front/elements/input_search.html.twig'
                                    with {
                                        'id': 'skill-name-acquire_[[? it.k ]][[=it.k]][[?]]',
                                        'url': '/apip/skills',
                                        'autocomplete': true,
                                        'formats': 'json',
                                        'pagination': 'false',
                                        'name': 'skill-name-acquire_[[? it.k ]][[=it.k]][[?]]'
                                    }
                                %}
							</div>

							<div class="skills-acquire-list">
								[[? it.trainingSkills ]]
                                    [[? it.trainingSkills.length ]]
                                        [[~it.trainingSkills :item:i]]
                                            [[? item.skill && item.isToAcquire && item.isToAcquire == true ]]
                                                <div class="skill">
                                                    <div class="d-flex flex-nowrap justify-content-between">
                                                        <div class="d-flex flex-nowrap align-items-center">
                                                            <a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_acquire_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                                <i class="fas fa-chevron-circle-right"></i>
                                                            </a>
                                                            <a data-toggle="collapse" href="#skill_acquire_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                                <span>[[? item.skill.preferredLabel ]][[=item.skill.preferredLabel]][[?]]</span>
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="" class="text-danger rmv" title="Remove this skill">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="content-collapse">
                                                        <div class="collapse" id="skill_acquire_[[? it.k ]][[=it.k]][[?]]_[[? i ]][[=i]][[?]]">
                                                            <div>
                                                                <div class="card card-block">
                                                                    [[? item.skill.description ]][[=item.skill.description]][[?]]
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            [[?]]
                                        [[~]]
                                    [[?]]
                                [[?]]
							</div>
						</div>
					</div>
				</div>

				<div class="form-group button-group text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</script>
