<fieldset>

	<div class="d-flex align-items-end justify-content-start">
        <a href="{{ path('app_training_create') }}" class="btn btn-primary">Add a training</a>
	</div>

	<div class="accordion" id="list-trainings">
		{% if trainings is defined %}
			{% for k, training in trainings %}
				<div class="card" data-id="{{ attribute(training, 'id') is defined ? training.id : '' }}">
					<form method="POST" action="{{ path('app_institution') }}">
						<input type="hidden" name="training_id" value="{{ attribute(training, 'id') is defined ? training.id : '' }}"/>
						<div class="card-header" id="heading_{{ k }}">
							<div class="d-flex flex-nowrap justify-content-between">
								<div class="d-flex flex-nowrap align-items-center">
									<a href="{{ path('app_training_edit', {id: training.id}) }}">
										<span>{{ attribute(training, 'name') is defined ? training.name : '' }}</span>
									</a>
								</div>
								<div class="d-inline-flex align-items-center justify-content-end">
                                    <div class="block-clone">
                                        <span class="spinner-border spinner-border-sm loader" role="status" aria-hidden="true"></span>
                                        <a href="{{ path('app_training_edit', {id: training.id}) }}" title="Edit this training">
                                            <i class="far fa-edit text-primary"></i>
                                        </a>
                                        <a href="#" title="Clone this training">
                                            <i class="far fa-clone text-primary"></i>
                                        </a>
                                    </div>
								</div>
							</div>
						</div>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</fieldset>
