{% extends 'front/layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('institutional') }}
{% endblock %}

{% block content %}
    {% autoescape false %}
    <div class="container">

        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb create_training">
                <li class="breadcrumb-item"><a href="{{ path('app_institution')}}">Training</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ attribute(training, 'name') is defined ? training.name : '' }}</li>
            </ol>
        </nav>

         {{ include('front/institutional/_form.html.twig') }}
    </div>
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('institutional') }}
{% endblock %}