{# A SUPPRIMER ================================================================================ #}
{% 
    set trainings = [
        {
            'id': '1',
            'name': 'Duis autem vel eum iriure dolor in hendrerit',
            'location': 'Paris',
            'duration': '40 min',
            'description': 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratraining.',
            'price': '20€',
            'start_date': '2019-04-22',
            'end_date': '2023-08-05',
            'url': 'https://symfony.com/',
            'file': 'info.xls',
            'required_skills': [
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'dolor in hendrerit',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ],
            'acquired_skills': [
                {
                    name: 'autem vel eum iriure dolor in hendrerit',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ]
        },
        {
            'id': '2',
            'name': 'autem vel eum iriure dolor in hendrerit',
            'location': 'Rennes',
            'duration': '40 min',
            'description': 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratraining.',
            'price': '20€',
            'start_date': '2019-04-22',
            'end_date': '2023-08-05',
            'url': 'https://symfony.com/',
            'file': 'info.xls',
            'required_skills': [
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ],
            'acquired_skills': [
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ]
        },
        {
            'id': '3',
            'name': 'dolor in hendrerit',
            'location': 'Caen',
            'duration': '40 min',
            'description': 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit ametraining. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam eratraining.',
            'price': '20€',
            'start_date': '2019-04-22',
            'end_date': '2023-08-05',
            'url': 'https://symfony.com/',
            'file': 'doc.xls',
            'required_skills': [
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ],
            'acquired_skills': [
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                },
                {
                    name: 'precision engineering',
                    description: 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat',
                }
            ]
        }
    ]
%}
{# ========================================================================================== #}

<fieldset>
	<div class="info">
		Please indicate the name of a training your institution provides
	</div>

	<div class="d-flex align-items-end justify-content-center">
		<label for="training-input">Training name</label>
		<input type="text" class="form-control ml-2 mr-2" id="training-input">
		<button type="button" class="btn btn-primary" id="add-training">Add</button>
	</div>

	<div class="accordion" id="list-trainings">
		{% if trainings is defined %}
			{% for k, training in trainings %}
				<div class="card">
					<form>
						<div class="card-header" id="heading_{{ k }}">
							<div class="d-flex flex-nowrap justify-content-between">
								<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#training_{{ k }}" aria-expanded="false" aria-controls="training_{{ k }}">
									<a class="text-primary icon mr-2" data-toggle="collapse" href="#training_{{ k }}">
										<i class="fas fa-chevron-circle-right"></i>
									</a>
									<a data-toggle="collapse" href="#training_{{ k }}">
										<span>{{ training.name }}</span>
									</a>
								</div>
								<div class="d-inline-flex align-items-center justify-content-end">
									<a href="#" class="more mr-2" data-toggle="modal" data-target="#exampleModal">
										<i class="fas fa-question-circle text-primary"></i>
									</a>
									<a href="" class="text-danger item rmv" title="Remove this skill" data-name="{{ training.name }}" data-id="{{ training.id }}" data-url="url de suppression">
										<i class="fas fa-trash-alt"></i>
									</a>
								</div>
							</div>
						</div>

						<div id="training_{{ k }}" class="collapse" aria-labelledby="heading_{{ k }}" data-parent="#list-trainings">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="training-name_{{ k }}">Training name</label>
											<input type="text" class="form-control input-autocomplete" id="training-name_{{ k }}" value="{{ attribute(training, 'name') ? training.name : '' }}" data-url="url de recherche">
										</div>

										<div class="form-group">
											<label for="location_{{ k }}">Location</label>
											<input type="text" class="form-control" id="location_{{ k }}" value="{{ attribute(training, 'location') ? training.location : '' }}">
										</div>

										<div class="form-group">
											<label for="duration_{{ k }}">Duration</label>
											<input type="text" class="form-control" id="duration_{{ k }}" value="{{ attribute(training, 'duration') ? training.duration : '' }}">
										</div>

										<div class="form-group">
											<label for="description_{{ k }}">Description</label>
											<textarea class="form-control" id="description_{{ k }}">{{ attribute(training, 'description') ? training.description : '' }}</textarea>
										</div>

										<div class="form-group">
											<label for="price_{{ k }}">Price</label>
											<input type="text" class="form-control" id="price_{{ k }}" value="{{ attribute(training, 'price') ? training.price : '' }}">
										</div>

										<div class="form-group">
											<label for="start-date_{{ k }}">Start date</label>
											<input type="date" class="form-control" id="start-date_{{ k }}" value="{{ attribute(training, 'start_date') ? training.start_date : '' }}">
										</div>

										<div class="form-group">
											<label for="end-date_{{ k }}">End date</label>
											<input type="date" class="form-control" id="end-date_{{ k }}" value="{{ attribute(training, 'end_date') ? training.end_date : '' }}">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="training-info-url_{{ k }}">Training info URL</label>
											<input type="url" class="form-control" id="training-info-url_{{ k }}" value="{{ attribute(training, 'url') ? training.url : '' }}">
										</div>

										<div class="form-group">
											<label for="upload-info-sheet_{{ k }}">Upload info sheet</label>
											<div class="form-group custom-file">
												<input type="file" class="custom-file-input" id="upload-info-sheet_{{ k }}" value="{{ attribute(training, 'file') ? training.file : '' }}">
												<label class="custom-file-label" for="upload-info-sheet_{{ k }}">Choose file</label>
											</div>
										</div>

										<p class="title">Required skills</p>

										<div class="mb-3">
											<label for="skill-name-required_{{ k }}">Skill name</label>
											{% include 'front/elements/input_search.html.twig' with {'id': 'skill-name-required' ~ k, 'url': 'url de recherche', 'autocomplete': true} %}
										</div>

										<div class="skills-required-list">
											{% if attribute(training, 'required_skills') %}
												{% set required_skills = training.required_skills %}
												{% for i, required_skill in required_skills %}
													<div class="skill">
														<div class="d-flex flex-nowrap justify-content-between">
															<div class="d-flex flex-nowrap align-items-center">
																<a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_required_{{ k }}_{{ i }}">
																	<i class="fas fa-chevron-circle-right"></i>
																</a>
																<a data-toggle="collapse" href="#skill_required_{{ k }}_{{ i }}">
																	<span>{{ attribute(required_skill, 'name') ? required_skill.name : '' }}</span>
																</a>
															</div>
															<div>
																<a href="" class="text-danger rmv" title="Remove this skill">
																	<i class="fas fa-trash-alt"></i>
																</a>
															</div>
														</div>

														<div class="content-collapse">
															<div class="collapse" id="skill_required_{{ k }}_{{ i }}">
																<div>
																	<div class="card card-block">
																		{{ attribute(required_skill, 'description') ? required_skill.description : '' }}
																		craft beer labore wes anderson cred nesciunt sapiente ea proidentraining.
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											{% endif %}
										</div>

										<p class="title">Skills students can acquire</p>

										<div class="mb-3">
											<label for="skill-name-acquire_{{ k }}">Skill name</label>
											{% include 'front/elements/input_search.html.twig' with {'id': 'skill-name-acquire_' ~ k, 'url': 'url de recherche', 'autocomplete': true} %}
										</div>

										<div class="skills-acquire-list">
											{% if attribute(training, 'required_skills') %}
												{% set acquired_skills = training.acquired_skills %}
												{% for i, acquired_skill in acquired_skills %}
													<div class="skill">
														<div class="d-flex flex-nowrap justify-content-between">
															<div class="d-flex flex-nowrap align-items-center">
																<a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_acquire_{{ k }}_{{ i }}">
																	<i class="fas fa-chevron-circle-right"></i>
																</a>
																<a data-toggle="collapse" href="#skill_acquire_{{ k }}_{{ i }}">
																	<span>{{ attribute(acquired_skill, 'name') ? acquired_skill.name : '' }}</span>
																</a>
															</div>
															<div>
																<a href="" class="text-danger rmv" title="Remove this skill">
																	<i class="fas fa-trash-alt"></i>
																</a>
															</div>
														</div>

														<div class="content-collapse">
															<div class="collapse" id="skill_acquire_{{ k }}_{{ i }}">
																<div>
																	<div class="card card-block">
																		{{ attribute(acquired_skill, 'description') ? acquired_skill.description : '' }}
																		craft beer labore wes anderson cred nesciunt sapiente ea proidentraining.
																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>

							<div class="form-group button-group text-center">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</div>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</fieldset>

<div class="form-group button-group text-right">
	<button type="submit" class="btn btn-primary">Save</button>
</div>

<script id="institutional-training" type="template/dotraining.js">
	<form>
		<input type="hidden" name="data" value="[[? it.data ]][[=it.data]][[?]]">
		<div class="d-flex flex-nowrap justify-content-between">
			<div class="d-flex flex-nowrap align-items-center">
				<a class="text-primary icon mr-2" data-toggle="collapse" href="#training_[[=it.id]]">
					<i class="fas fa-chevron-circle-right"></i>
				</a>
				<a data-toggle="collapse" href="#training_[[=it.id]]">
					<span>[[=it.name]]</span>
				</a>
			</div>
			<a href="" class="text-success clone" title="Clone this training">
				<i class="fas fa-plus-circle"></i>
			</a>
		</div>

		<div class="content-collapse">
			<div class="collapse" id="training_[[=it.id]]">
				<div>
					<div class="card card-block">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="training-name_[[=it.id]]">Training name</label>
									<input type="text" class="form-control" id="training-name_[[=it.id]]" value="[[? it.name ]][[=it.name]][[?]]">
								</div>

								<div class="form-group">
									<label for="location_[[=it.id]]">Location</label>
									<input type="text" class="form-control" id="location_[[=it.id]]" value="[[? it.location ]][[=it.location]][[?]]">
								</div>

								<div class="form-group">
									<label for="duration_[[=it.id]]">Duration</label>
									<input type="text" class="form-control" id="duration_[[=it.id]]" value="[[? it.duration ]][[=it.duration]][[?]]">
								</div>

								<div class="form-group">
									<label for="description_[[=it.id]]">Description</label>
									<textarea class="form-control" id="description_[[=it.id]]">[[? it.description ]][[=it.description]][[?]]</textarea>
								</div>

								<div class="form-group">
									<label for="price_[[=it.id]]">Price</label>
									<input type="text" class="form-control" id="price_[[=it.id]]" value="[[? it.price ]][[=it.price]][[?]]">
								</div>

								<div class="form-group">
									<label for="start-date_[[=it.id]]">Start date</label>
									<input type="date" class="form-control" id="start-date_[[=it.id]]" value="[[? it.start_date ]][[=it.start_date]][[?]]">
								</div>

								<div class="form-group">
									<label for="end-date_[[=it.id]]">End date</label>
									<input type="date" class="form-control" id="end-date_[[=it.id]]" value="[[? it.end_date ]][[=it.end_date]][[?]]">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="training-info-url_[[=it.id]]">Training info URL</label>
									<input type="url" class="form-control" id="training-info-url_[[=it.id]]" value="[[? it.url ]][[=it.url]][[?]]">
								</div>

								<div class="form-group">
									<label for="upload-info-sheet_[[=it.id]]">Upload info sheet</label>
									<div class="form-group custom-file">
										<input type="file" class="custom-file-input" id="upload-info-sheet_[[=it.id]]">
										<label class="custom-file-label" for="upload-info-sheet_[[=it.id]]" value="[[? it.file ]][[=it.file]][[?]]">Choose file</label>
									</div>
								</div>

								<p class="title">Required skills</p>

								<div class="form-group">
									<label for="skill-name-required_[[=it.id]]">Skill name</label>
									<input type="text" class="form-control" id="skill-name-required_[[=it.id]]">
								</div>

								<div class="skills-required-list"></div>

								<p class="title">Skills students can acquire</p>

								<div class="form-group">
									<label for="skill-name-acquire_[[=it.id]]">Skill name</label>
									<input type="text" class="form-control" id="skill-name-acquire_[[=it.id]]">
								</div>

								<div class="skills-acquire-list"></div>
							</div>
						</div>

						<div class="form-group button-group text-center">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</script>
