<header id="main-header">
    <div class="container p-3">
        <div class="justify-content-left">
            <a href="{{ path('app_home_root') }}">
                <img src="{{asset('build/images/logo.png')}}" alt="Logo" />
            </a>
            <span class="intro">
                {{ 'header.intro'|trans }}
            </span>
        </div>

        <div class="d-flex justify-content-end">
            {% if app.user is defined and is_granted('ROLE_USER') %}
                <div class="dropdown mr-2">

                    {% if app.user is defined and app.user is not null %}
                        <i class="fas fa-user text-success"></i>
                    {% endif %}

                    <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if app.user is defined and app.user is not null and (is_granted('ROLE_INSTITUTION') or is_granted('ROLE_RECRUITER')) %}
                            {{ app.user.username }}
                        {% elseif app.user is defined and app.user is not null %}
                            {{ app.user.firstname is defined and app.user.username is not empty 
                            and app.user.lastname is defined and app.user.lastname is not empty ? app.user.firstname ~ ' ' ~ app.user.lastname : app.user.username }} 
                        {% endif %}
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item" href="{{ path('app_home_root') }}"><i class="fas fa-search"></i><span>{{ 'header.full_search_page'|trans }}</span></a>
                        <a class="dropdown-item" href="{{ path('app_search_history') }}"><i class="fas fa-history"></i><span>{{ 'header.search_history'|trans }}</span></a>
                        {% if app.user is defined and app.user is not null and is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin_home') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% elseif app.user is defined and app.user is not null and is_granted('ROLE_INSTITUTION') %}
                            <a class="dropdown-item" href="{{ path('app_institution') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% elseif app.user is defined and app.user is not null and is_granted('ROLE_RECRUITER') %}
                            <a class="dropdown-item" href="{{ path('app_recruiter') }}"><i class="fas fa-industry"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_account') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% endif %}

                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span>{{ 'login.form.sign_out'|trans }}</span></a>
                    </div>
                </div>
            {% else %}
                <div class="dropdown mr-2">
                    <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                        {{ 'login.form.log_in'|trans }}
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> <span>{{ 'login.form.sign_in'|trans }}</span></a>
                        <a class="dropdown-item" href="{{ path('app_signup') }}"><i class="far fa-user-circle"></i> <span>{{ 'login.form.sign_up'|trans }}</span></a>
                    </div>
                </div>
            {% endif %}
            <div class="dropdown ml-2 switch-langue">
                <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{asset('build/images/flags/' ~ app.request.locale ~ '.png')}}" alt=""> {{ app.request.locale|capitalize }}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% set current_path = app.request.get('_route') %}
                    {% set route_params = app.request.attributes.get('_route_params') %}
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'en'})) }}"><img src="{{asset('build/images/flags/en.png')}}" alt=""> En</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'fr'})) }}"><img src="{{asset('build/images/flags/fr.png')}}" alt=""> Fr</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'pl'})) }}"><img src="{{asset('build/images/flags/pl.png')}}" alt=""> Pl</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'it'})) }}"><img src="{{asset('build/images/flags/it.png')}}" alt=""> It</a>
                </div>
            </div>
        </div>
    </div>
</header>
