<header id="main-header">
    <div class="container p-3">
        <div class="justify-content-left">
            <a href="{{ path('app_home') }}">
                <img src="{{asset('build/images/logo.png')}}" alt="Logo" />
            </a>
            <span class="intro">
                {{ 'header.intro'|trans }}
            </span>
        </div>

        <div class="d-flex justify-content-end">
            <div class="dropdown mr-2">
                <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.user is defined and app.user is not null and is_granted('ROLE_INSTITUTION') %}
                        {{ app.user.username }}
                    {% elseif app.user is defined and app.user is not null %}
                        {{ app.user.firstname }} {{ app.user.lastname|lower }}
                    {% endif %}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="{{ path('app_home') }}"><i class="fas fa-search"></i><span>{{ 'header.full_search_page'|trans }}</span></a>
                        {% if app.user is defined and app.user is not null and is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin_home') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% elseif app.user is defined and app.user is not null and is_granted('ROLE_INSTITUTION') %}
                            <a class="dropdown-item" href="{{ path('app_institution') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_account') }}"><i class="fas fa-user-alt"></i><span>{{ 'header.my_account'|trans }}</span></a>
                        {% endif %}

                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span>{{ 'login.form.sign_out'|trans }}</span></a>
                </div>
            </div>
            <div class="dropdown ml-2 switch-langue">
                <a class="dropdown-right" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-{{ app.request.locale == 'en' ? 'gb' : app.request.locale }}"> </span> {{ app.request.locale|capitalize }}
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% set current_path = app.request.get('_route') %}
                    {% set route_params = app.request.attributes.get('_route_params') %}
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'en'})) }}"><span class="flag-icon flag-icon-gb"> </span>  En</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'fr'})) }}"><span class="flag-icon flag-icon-fr"> </span>  Fr</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'pl'})) }}"><span class="flag-icon flag-icon-it"> </span>  Pl</a>
                    <a class="dropdown-item link-langue" href="{{ path(current_path, route_params|merge({_locale: 'it'})) }}"><span class="flag-icon flag-icon-ru"> </span>  It</a>
                </div>
            </div>
        </div>
    </div>
</header>
