{% set skillsIds = [] %}

{% if position is defined %}
	{% if attribute(position, 'skills') is defined and position.skills is iterable %}
		{% for skill in position.skills %}
			{% set skillsIds = skillsIds|merge([skill.id]) %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set skillsHidden = skillsIds %}

{{ form_start(form, {attr: attr|default({})}) }}
<div class="row">
	<div class="col-6">
		{{ form_row(form.name) }}
		{% if app.user is defined and app.user is not null and is_granted('ROLE_RECRUITER') == false %}
			{{ form_row(form.user) }}
			<p class="text-right m-0">
				<button type="button" class="btn btn-link btn-modal-add-user">{{ 'don_t_find_your_recruiter'|trans }}</button>
			</p>
		{% endif %}

        {% include 'common/map.html.twig' %}

		{{ form_row(form.location) }}
		{{ form_row(form.description) }}
		{{ form_label(form.salary) }}
		<div class="input-group mb-3">
			{{ form_widget(form.salary) }}
			<div class="input-group-append">
				{{ form_widget(form.currency) }}
			</div>
		</div>

		{{ form_row(form.startAt) }}
		{{ form_row(form.endAt) }}
		{{ form_row(form.isVisible) }}

        <div {% if edit is not defined %}class="d-none"{% endif %}>
            {{ form_widget(form.isFulfilled) }}
        </div>
	</div>

	<div class="col-6">
		<div class="occupations-select">
			{{ form_row(form.occupation) }}
		</div>

		<p class="title mb-0">{{ 'required_skills'|trans  }}</p>
		<div class="p-4 content-skills">
			<div class="mb-3 add-skill" data-type="acquired">
				<input type="hidden" name="hidden_positionSkills" id="hidden_positionSkills" value="{{ skillsHidden is defined ? skillsHidden|json_encode : '' }}"/>
				<div class="content-list-skill">
					<div class="mb-4">
						<div class="pb-3 title-blc-skills">{{ 'esco'|trans }}</div>
						<div class="occupation">
							<ul class="list-group ul-skills" id="skills-occupations"></ul>
							<a href="#" class="skills-associated" id="all-associated">{{ 'all_associated'|trans }}</a>
						</div>
					</div>
					<div class="pb-3 title-blc-skills">{{ 'no_esco'|trans }}</div>
					{% include 'front/elements/input_add_search.html.twig'
                            with {
                            'id': 'skill-name-acquired',
                            'url': '/apip/skills',
                            'autocomplete': true,
                            'formats': 'json',
                            'pagination': 'false',
                            'name': 'skill-name-acquired',
                            'placeholder': 'add_skill'|trans
                        }
                        %}
					<div class="mt-4 mb-4">
						<div class="not-occupation">
							<ul class="list-group ul-skills" id="skills-not-occupations-acquired">
								{% if position is defined %}
									{% if attribute(position, 'skills') is defined and position.skills is iterable %}
										{% for skill in position.skills %}
											<li class="list-group-item">
												<div class="d-flex flex-nowrap justify-content-between">
													<div>
														<span>{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}</span>
													</div>
													<div>
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input rmv-skill" id="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-name="{{ attribute(skill, 'preferredLabel') is defined ? skill.preferredLabel : '' }}" data-type="required" value="1" checked="checked">
                                                            <label class="switch-custom custom-control-label" for="skill_id-{{ attribute(skill, 'id') is defined ? skill.id : '' }}"></label>
                                                        </div>
														<!--<a href="#" class="rmv" data-id="{{ attribute(skill, 'id') is defined ? skill.id : '' }}" data-type="acquired" title="Remove this skill">
															<i class="fas fa-minus"></i>
														</a>-->
													</div>
												</div>
											</li>
										{% endfor %}
									{% endif %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-right">
			<p class="d-inline-block text-right mt-2 mb-0 bg-secondary p-3 hidden" id="affected-users">
				<span class="h6">{{ 'Results'|trans }}</span><br>
				<span>
					{{ 'n_a'|trans }}
				</span>
			</p>
			<p class="text-right mt-2">
				<button class="btn btn-link clearfix" id="display-affected-users">
					<i class="fas fa-calculator"></i>
					{{ 'calculate_the_number_of_affected_users'|trans }}
				</button>
			</p>

            {% if edit is defined %}
                <input type="hidden" value="{{ position.id }}" id="position_id">

                <button type="button" class="btn-primary btn mb-2" id="send-email-position" data-toggle="tooltip" title="{{ 'sent_affected_users_position_tooltip'|trans }}">
					{{ 'send_an_email_to_the_affected_users'|trans }}
					<i class="fas fa-info-circle"></i>
				</button>

				<button type="button" class="btn-primary btn mb-2" id="view-email-template">
					<i class="fas fa-search-plus"></i> {{ 'view_email_template'|trans }}
				</button>

				{% if position is defined and attribute(position, 'sentToAffectedUsersAt') is defined and position.sentToAffectedUsersAt is not empty %}
                    <p id="send-email-position-info" style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end;">
						{{ 'an_email_was_sent_on'|trans }} <span>&nbsp;{{ position.sentToAffectedUsersAt|date('Y/m/d H:i') }} - </span>
						<button type="button" class="btn btn-link" style="padding-left: 0; padding-right: 0;" id="show-sent-history">{{ 'show_sent_history'|trans }} <i class="fas fa-search-plus"></i></button>
					</p>
                {% else %}
                    <p id="no-send-email-position-info">{{ 'no_email_has_been_sent'|trans }}</p>
                {% endif %}
            {% endif %}
		</div>
	</div>
</div>

<p class="text-center mt-4">
	{{ form_widget(form.save, {'label': 'label.save'|trans }) }}
</p>
{{ form_end(form) }}
