<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Code d'accès - Application SILKC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        /* Fonts and Content */
        body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; color: rgb(121, 124, 127); font-size: 14px; }
        body { background-color: #FAFAFA; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
        h2 { font-family: 'FreightSans Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; padding-top: 12px; /* ne fonctionnera pas sous Outlook 2007+ */ color:rgb(23, 24, 26); font-weight: 400; font-size: 26px; }
        p { font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: rgb(121, 124, 127); font-size: 14px; }
        p.footer { font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: #ffffff; font-size: 14px; }
        p.signature { font-family: 'FreightSans Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; margin-top: 30; color: rgb(23, 24, 26); font-size: 18px; }
    </style>
</head>
<body style="margin:0px; padding:0px; background-color: #FAFAFA; -webkit-text-size-adjust:none;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#FAFAFA" >
    <tbody>
    <tr>
        <td align="center">
            <table  cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td style="width: 640px; background-color: #FAFAFA;" width="640" height="50" bgcolor="#FAFAFA"></td>
                </tr>
                <tr>
                    <td style="width: 640px; background-color: #ffffff;" width="640" height="90" bgcolor="#ffffff"></td>
                </tr>
                <tr>
                    <td style="width: 640px;" width="640">
                        <table style="width: 640px;" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td style="width: 305px;" width="305"></td>
                                <td style="text-align: center; width: 30px;" width="30" valign="middle" align="center">
                                    <img style="width: 30px;" style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="{{asset('build/images/logo.png')}}" alt="Logo SILKC" width="30" height="30"/>
                                </td>
                                <td style="width: 305px;"  width="305"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 640px; background-color: #ffffff;" width="640" height="35" bgcolor="#ffffff"></td>
                </tr>

                <!-- contenu -->
                <tr class="content">
                    <td style="width: 640px;" width="640" bgcolor="#ffffff">
                        <table style="width: 640px;" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td style="width: 30px;" width="30"></td>
                                <td style="width: 580px;" width="580">
                                    <!-- une zone de contenu -->
                                    <table style="width: 580px;" width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width: 580px;" width="580" align="center">
                                                <h2 style="font-family: 'FreightSans Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; text-align: center; color:rgb(23, 24, 26); font-size:26px; font-weight: 400; padding-top:12px;">
                                                    {{ 'email.validate_your_account'|trans({}, 'trad') }}
                                                </h2>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone -->
                                </td>
                                <td style="width: 30px;" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="width: 640px; background-color: #ffffff;" width="640" height="35" bgcolor="#ffffff"></td>
                </tr>

                <tr class="content">
                    <td style="width: 640px;" width="640" bgcolor="#ffffff">
                        <table style="width: 640px;" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td style="width: 30px;" width="30"></td>
                                <td style="width: 580px;" width="580">
                                    <!-- une zone de contenu -->
                                    <table style="width: 580px;" width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width: 580px;" width="580" align="left">
                                                <div align="left" class="article-content">
                                                    <p style="font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: rgb(121, 124, 127); font-size: 14px;">
                                                        {{ 'email.to_finalize_your_account_creation'|trans({}, 'trad') }}  : <a href="{{ validation_link }}">{{ validation_link }}</a>
                                                    </p>
                                                    <p style="font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: rgb(121, 124, 127); font-size: 14px;">
                                                        {{ 'email.this_link_is_valid_for_minutes'|trans({}, 'trad') }}
                                                    </p>
                                                    <p style="font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: rgb(121, 124, 127); font-size: 14px;">
                                                        {{ 'email.if_you_receive_this_email'|trans({}, 'trad') }}
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone -->
                                </td>
                                <td style="width: 30px;" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="width: 640px; background-color: #ffffff;" width="640" height="30" bgcolor="#ffffff"></td>
                </tr>

                <tr class="content">
                    <td style="width: 640px;" width="640" bgcolor="#ffffff">
                        <table style="width: 640px;" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td style="width: 30px;" width="30"></td>
                                <td style="width: 580px;" width="580">
                                    <!-- une zone de contenu -->
                                    <table style="width: 580px;" width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td style="width: 580px;" width="580" align="left">
                                                <div align="left" class="article-content">
                                                    <p class="signature" style="font-family: 'FreightSans Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif; color: rgb(23, 24, 26); font-size: 18px;">Team SILKC</p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- fin zone -->
                                </td>
                                <td style="width: 30px;" width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <!--  separateur horizontal de 15px de  haut-->
                <tr>
                    <td style="width: 640px;"  width="640" height="50" bgcolor="#ffffff"></td>
                </tr>

                <!-- pied de page -->
                <tr class="pagebottom">
                    <td style="width: 640px;"  width="640">
                        <table style="width: 640px; background-color: rgb(48, 48, 48);"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="rgb(48, 48, 48)">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                                <td style="width: 30px;"  width="30"></td>
                                <td style="width: 580px;" align="center" width="580" valign="top">
                                    <p class="footer" style="font-family: 'Fakt Pro','Segoe UI','SanFrancisco Display',Arial,sans-serif ; text-align: center;" align="center" class="pagebottom-content-left">
                                        <a style="color:#ffffff;" href="https://silkc-platform.org">
                                            <span style="color:#ffffff;">@silkc</span>
                                        </a>
                                    </p>
                                </td>

                                <td style="width: 30px;"  width="30"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 640px; background-color: #FAFAFA;"  width="640" height="60" bgcolor="#FAFAFA"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
