{{ form_start(password_form, {attr: attr|default({})}) }}
<div class="form-block">
	<div class="form-group col-md-6">
		<label for="current-password">{{ 'login.form.label.password.current_password'|trans }}</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			{{ form_widget(password_form.currentPassword) }}
		</div>
	</div>

	<div class="form-group col-md-6">
		<label for="new-password">{{ 'login.form.label.password.new_password'|trans }}</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			{{ form_widget(password_form.password.first) }}
		</div>
	</div>

	<div class="form-group col-md-6">
		<label for="confirm-new-password">{{ 'login.form.label.password.confirm_new_password'|trans }}</label>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-lock"></i>
				</span>
			</div>
			{{ form_widget(password_form.password.second) }}
		</div>
	</div>

    <div class="form-group col-md-6">
        <div class="form-group button-group text-right">
            {{ form_widget(password_form.save) }}
        </div>
	</div>
</div>
{{ form_end(password_form) }}
