{% extends 'front/layout.html.twig' %}

{% block title %}Account
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('account') }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<section id="account">

					<div class="d-flex justify-content-end">
						<div class="d-flex flex-column" id="profile-completion">
							<span>Profile completion</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: {{ app.user.completion }}%;" aria-valuenow="{{ app.user.completion }}" aria-valuemin="0" aria-valuemax="100">{{ app.user.completion }}%</div>
							</div>
						</div>
					</div>

					<a class="btn btn-primary mb-4" href="{{ path('app_home') }}">
						<i class="fas fa-search"></i>
						<span>{{ 'header.full_search_page'|trans }}</span>
					</a>

                    <h1 class="title-page-account">
                        {{ 'header.my_account'|trans }} <span class="subinfotitle">{{ 'jobs_and_skills_are_based_on_the_ESCO_framework'|trans }} <a href="https://ec.europa.eu/esco/portal" target="blank">https://ec.europa.eu/esco/portal</a></span>
                    </h1>

					<ul class="nav nav-tabs" id="account-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link {% if (tab is defined and (tab == 'personal_informations' or tab == false)) or tab is not defined %}active{% endif %}" id="personal_informations-tab" data-toggle="tab" href="#content-personal_informations" name="content-personal_informations" role="tab">
								<i class="fas fa-user-alt"></i>
								{{ 'nav.personal_informations'|trans }}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if tab is defined and tab == 'work' %}active{% endif %}" id="work-tab" data-toggle="tab" href="#content-work" name="content-work" role="tab">
								<i class="far fa-list-alt"></i>
								{{ 'nav.work'|trans }}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if tab is defined and tab == 'training' %}active{% endif %}" id="training-tab" data-toggle="tab" href="#content-training" name="content-training" role="tab">
								<i class="fas fa-graduation-cap"></i>
								{{ 'nav.training'|trans }}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if tab is defined and tab == 'skills' %}active{% endif %}" id="skills-tab" data-toggle="tab" href="#content-skills" name="content-skills" role="tab">
								<i class="fas fa-list"></i>
								{{ 'nav.skills'|trans }}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if tab is defined and tab == 'change_password' %}active{% endif %}" id="change_password-tab" data-toggle="tab" href="#content-change_password" name="content-change_password" role="tab">
								<i class="fas fa-key"></i>
								{{ 'nav.change_password'|trans }}
							</a>
						</li>
					</ul>

					<div class="tab-content" id="account-tab-content">
						<div class="tab-pane fade {% if (tab is defined and (tab == 'personal_informations' or tab == false)) or tab is not defined %}show active{% endif %}" id="content-personal_informations" role="tabpanel">
							{% include 'front/account/personal_informations.html.twig' %}
						</div>
						<div class="tab-pane fade {% if tab is defined and tab == 'work' %}show active{% endif %}" id="content-work" role="tabpanel">
							{% include 'front/account/work.html.twig' %}
						</div>
						<div class="tab-pane fade {% if tab is defined and tab == 'training' %}show active{% endif %}" id="content-training" role="tabpanel">
							{% include 'front/account/training.html.twig' %}
						</div>
						<div class="tab-pane fade {% if tab is defined and tab == 'skills' %}show active{% endif %}" id="content-skills" role="tabpanel">
							{% include 'front/account/skills.html.twig' %}
						</div>
						<div class="tab-pane fade {% if tab is defined and tab == 'change_password' %}show active{% endif %}" id="content-change_password" role="tabpanel">
							{% include 'front/account/change_password.html.twig' %}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

    <input type="hidden" value="{{user.id}}" id="input_user_id"/>

	{% include 'front/elements/modal.html.twig' %}
{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('account') }}
	{{ encore_entry_script_tags('map') }}
	{{ encore_entry_script_tags('common') }}
{% endblock %}
