{{ form_start(form, {attr: attr|default({})}) }}

<div class="form-block">
	<div class="row">
		<div class="form-group col-md-6">
			{{ form_row(form.firstname) }}
		</div>

		<div class="form-group col-md-6">
			{{ form_row(form.lastname) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-md-6">
		{{ form_row(form.username) }}
	</div>
	<div class="form-group col-md-6">
		{{ form_row(form.email) }}
	</div>
</div>

{% if form.offsetExists('password') %}
	<div class="row special">
		{{ form_row(form.password) }}
	</div>
{% endif %}

<div class="form-group button-group text-right">
	{{ form_widget(form.save, {'label': (user is defined) ? 'label.edit' : 'label.create'}) }}
</div>

{{ form_end(form) }}