<fieldset>
	{# Following job #}
	<div class="info">
		The following skills have been calculated based on your work experiences and training history
	</div>

	<div id="list-following_skills" class="list-skills accordion">
		{% for k in 0..4 %}
			<div class="card">
				<div class="card-header" id="heading_{{ k }}">
					<div class="d-flex flex-nowrap justify-content-between">
						<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#collapse_following_skills_{{ k }}" aria-expanded="false" aria-controls="collapse_following_skills_{{ k }}">
							<a class="text-primary icon mr-2" data-toggle="collapse" href="#skill_following_{{ k }}">
								<i class="fas fa-chevron-circle-right"></i>
							</a>
							<a data-toggle="collapse" href="#skill_following_{{ k }}">
								<span>precision engineering</span>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
							<a href="#" class="more mr-2" data-toggle="modal" data-target="#exampleModal">
								<i class="fas fa-question-circle text-primary"></i>
							</a>
							<a href="" class="text-danger rmv" title="Remove this skill">
								<i class="fas fa-times-circle"></i>
							</a>
						</div>
					</div>
				</div>

				<div id="collapse_following_skills_{{ k }}" class="collapse" aria-labelledby="heading_{{ k }}" data-parent="#list-following_skills">
					<div class="card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</fieldset>
{# End: Following job #}

{# Other skills #}
<fieldset>
	<div class="info">
		Other skills
	</div>

	<div class="d-inline-flex align-items-end">
		<label for="other_skills-input">Previous job</label>
		<input type="text" class="form-control" id="other_skills-input">
	</div>

	<div id="list-other_skills" class="list-skills">
		{% for k in 0..4 %}
			<div class="card">
				<div class="card-header" id="heading_{{ k }}">
					<div class="d-flex flex-nowrap justify-content-between">
						<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#collapse_other_skills_{{ k }}" aria-expanded="false" aria-controls="collapse_other_skills_{{ k }}">
							<a class="text-primary icon mr-2" data-toggle="collapse" href="#skills_other_{{ k }}">
								<i class="fas fa-chevron-circle-right"></i>
							</a>
							<a data-toggle="collapse" href="#skills_other_{{ k }}">
								<span>precision engineering</span>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
							<a href="" class="text-danger rmv" title="Remove this skill">
								<i class="fas fa-times-circle"></i>
							</a>
						</div>
					</div>
				</div>

				<div id="collapse_other_skills_{{ k }}" class="collapse" aria-labelledby="heading_{{ k }}" data-parent="#list-other_skills">
					<div class="card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</fieldset>
{# End: Other skills #}

{# Previously unselected #}
<fieldset>
	<div class="info">
		Previously unselected
	</div>

	<div id="list-previously_unselected" class="list-skills">
		{% for k in 0..4 %}
			<div class="card">
				<div class="card-header" id="heading_{{ k }}">
					<div class="d-flex flex-nowrap justify-content-between">
						<div class="d-flex flex-nowrap align-items-center" data-toggle="collapse" data-target="#collapse_previously_unselected_{{ k }}" aria-expanded="false" aria-controls="collapse_previously_unselected_{{ k }}">
							<a class="text-primary icon mr-2" data-toggle="collapse" href="#previously_unselected_{{ k }}">
								<i class="fas fa-chevron-circle-right"></i>
							</a>
							<a data-toggle="collapse" href="#previously_unselected_{{ k }}">
								<span>precision engineering</span>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
						<a href="#" class="more mr-2" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-question-circle text-primary"></i>
						</a>
						<a href="" class="text-success add" title="Remove this skill">
							<i class="fas fa-plus-circle"></i>
						</a>
						</div>
					</div>
				</div>

				<div id="collapse_previously_unselected_{{ k }}" class="collapse" aria-labelledby="heading_{{ k }}" data-parent="#list-previously_unselected">
					<div class="card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</fieldset>
{# End: Previously unselected #}

<div class="form-group button-group text-right">
	<button type="submit" class="btn btn-primary">Save</button>
</div>
