{#<fieldset>
	<div class="info">
		{{ 'please_indicate_your_experience'|trans }}
	</div>

	<div class="form-group d-inline-flex align-items-end">
		<label>{{ 'label.professional_experience'|trans }}</label>
		<input class="form-control" type="text" name="professional_experience" placeholder="{{ 'ex_year_experience'|trans }}" value="{{ user.professionalExperience }}" />
	</div>
</fieldset>#}

<fieldset>
	{# Current job #}
	<div class="info">
		{{ 'please_indicate_your_current_job'|trans }}
	</div>

	<div class="d-inline-flex align-items-end add-job add-current-job">
		<label for="current_job-input">{{ 'current_job'|trans }}
			<span data-toggle="tooltip" title="{{ 'enter_at_least_3_characters'|trans }}">
				&nbsp;<i class="fas fa-info-circle"></i>
			</span>
		</label>
		{% include 'front/elements/input_add_search.html.twig'
            with {
                'id': 'current_job-input',
                'url': '/apip/occupations',
                'autocomplete': true,
                'formats': 'json',
                'pagination': 'false',
                'name': 'current_job',
                'placeholder': ""
            }
        %}
	</div>

	<div id="list-current_job" class="list-job">
		<ul class="list-group">
			{% if currentOccupations is defined %}
				{% for k, row in currentOccupations %}
					{% set occupation = row.occupation %}
					{% set skills = row.skills is defined and row.skills is not empty ? row.skills : false %}
					{% set curTranslation = {'preferredLabel': occupation.preferredLabel, 'description': occupation.description } %}
					{% if app is defined and app.request is defined and app.request.locale is defined and app.request.locale is not empty %}
						{% for t in occupation.translations %}
							{% if t.locale == app.request.locale %}
								{% set curTranslation = {'preferredLabel': t.preferredLabel, 'description': t.description } %}
							{% endif %}
						{% endfor %}
					{% endif %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<a href="#" class="detail" data-name="{{ curTranslation.preferredLabel }}" data-description="{{ curTranslation.description }}" data-id="{{ occupation.id }}">
								<span>{{ curTranslation.preferredLabel }}</span>
								<i class="fas fa-question-circle text-primary"></i>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
							<a href="#" class="detail mr-2" data-name="{{ curTranslation.preferredLabel }}" data-description="{{ curTranslation.description }}" data-id="{{ occupation.id }}" data-toggle="tooltip" title="{{ 'front_account_work_skills_tooltip'|trans }}">
								<span class="badge badge-success">{{ skills is defined and skills is not empty ? skills|length : 0 }}</span>
							</a>
							<a href="#" class="text-danger item rmv" data-toggle="tooltip" title="{{ 'tooltip.remove_this_job'|trans }}" data-name="{{ curTranslation.preferredLabel }}" data-id="{{ occupation.id }}" data-type="currentOccupations">
								<i class="fas fa-trash-alt text-danger"></i>
							</a>
						</div>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</fieldset>
{# End: Current job #}

<fieldset>
	{# Previous job #}
	<div class="info">
		{{ 'please_indicate_any_previous_jobs'|trans }}
	</div>

	<div class="d-inline-flex align-items-end add-job add-previous-job">
		<label for="previous_job-input">{{ 'previous_job'|trans }}
			<span data-toggle="tooltip" title="{{ 'enter_at_least_3_characters'|trans }}">
				&nbsp;<i class="fas fa-info-circle"></i>
			</span>
		</label>
		{% include 'front/elements/input_add_search.html.twig'
            with {
                'id': 'previous_job-input',
                'url': '/apip/occupations',
                'autocomplete': true,
                'formats': 'json',
                'pagination': 'false',
                'name': 'previous_job'
            }
        %}
	</div>

	<div id="list-previous_job" class="list-job">
		<ul class="list-group">
			{% if previousOccupations is defined %}
				{% for k, row in previousOccupations %}
					{% set occupation = row.occupation %}
					{% set skills = row.skills is defined and row.skills is not empty ? row.skills : false %}
					{% set prevTranslation = {'preferredLabel': occupation.preferredLabel, 'description': occupation.description } %}
					{% if app is defined and app.request is defined and app.request.locale is defined and app.request.locale is not empty %}
						{% for t in occupation.translations %}
							{% if t.locale == app.request.locale %}
								{% set prevTranslation = {'preferredLabel': t.preferredLabel, 'description': t.description } %}
							{% endif %}
						{% endfor %}
					{% endif %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<a href="#" class="detail" data-name="{{ prevTranslation.preferredLabel }}" data-description="{{ prevTranslation.description }}" data-id="{{ occupation.id }}">
								<span>{{ prevTranslation.preferredLabel }}</span>
								<i class="fas fa-question-circle text-primary"></i>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
							<a href="#" class="detail mr-2" data-name="{{ prevTranslation.preferredLabel }}" data-description="{{ prevTranslation.description }}" data-id="{{ occupation.id }}" data-toggle="tooltip" title="{{ 'front_account_work_skills_tooltip'|trans }}">
								<span class="badge badge-success">{{ skills is defined and skills is not empty ? skills|length : 0 }}</span>
							</a>
							<a href="#" class="text-danger item rmv" data-toggle="tooltip" title="{{ 'tooltip.remove_this_job'|trans }}" data-name="{{ prevTranslation.preferredLabel }}" data-type="previousOccupations" data-id="{{ occupation.id }}">
								<i class="fas fa-trash-alt text-danger"></i>
							</a>
						</div>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</fieldset>
{# End: Previous job #}

<fieldset>
	{# Desired job #}
	<div class="info">
		{{ 'please_indicate_your_desired_jobs'|trans }}
	</div>

	<div class="d-inline-flex align-items-end add-job add-desired-job">
		<label for="previous_job-input">{{ 'desired_job'|trans }}
			<span data-toggle="tooltip" title="{{ 'enter_at_least_3_characters'|trans }}">
				&nbsp;<i class="fas fa-info-circle"></i>
			</span>
		</label>
		{% include 'front/elements/input_add_search.html.twig'
            with {
                'id': 'desired_job-input',
                'url': '/apip/occupations',
                'autocomplete': true,
                'formats': 'json',
                'pagination': 'false',
                'name': 'desired_job'
            }
        %}
	</div>

	<div id="list-desired_job" class="list-job">

		<ul class="list-group">
			{% if desiredOccupations is defined %}
				{% for k, row in desiredOccupations %}
					{% set occupation = row.occupation %}
					{% set skills = row.skills is defined and row.skills is not empty ? row.skills : false %}
					{% set desTranslation = {'preferredLabel': occupation.preferredLabel, 'description': occupation.description } %}
					{% if app is defined and app.request is defined and app.request.locale is defined and app.request.locale is not empty %}
						{% for t in occupation.translations %}
							{% if t.locale == app.request.locale %}
								{% set desTranslation = {'preferredLabel': t.preferredLabel, 'description': t.description } %}
							{% endif %}
						{% endfor %}
					{% endif %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							<a href="#" class="detail" data-name="{{ desTranslation.preferredLabel }}" data-description="{{ desTranslation.description }}" data-id="{{ occupation.id }}">
								<span>{{ desTranslation.preferredLabel }}</span>
								<i class="fas fa-question-circle text-primary"></i>
							</a>
						</div>
						<div class="d-inline-flex align-items-center justify-content-end">
							<a href="#" class="detail mr-2" data-name="{{ desTranslation.preferredLabel }}" data-description="{{ desTranslation.description }}" data-id="{{ occupation.id }}">
								<span class="badge badge-success d-block" data-toggle="tooltip" title="{{ 'front_account_work_skills_tooltip'|trans }}">{{ skills is defined and skills is not empty ? skills|length : 0 }}</span>
							</a>
							<a href="#" class="text-danger item rmv mr-2" data-toggle="tooltip" title="{{ 'tooltip.remove_this_job'|trans }}" data-name="{{ desTranslation.preferredLabel }}" data-id="{{ occupation.id }}" data-type="desiredOccupations">
								<i class="fas fa-trash-alt text-danger"></i>
							</a>
							{% set localCurrent = app is defined and app.request is defined and app.request.locale is defined and app.request.locale is not empty ? app.request.locale : 'en' %}
							<a href="/{{ localCurrent }}/search_results/occupation/{{ occupation.id }}" class="search-training" data-toggle="tooltip" title="{{ 'search_for_training_required_for_this_job'|trans }}">
								<i class="fas fa-search-plus text-primary"></i>
							</a>
						</div>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</fieldset>
{# Desired job #}

<input type="hidden" name="jobs" id="jobs" value='{"currentOccupations": {{ currentOccupationsInput|json_encode() }},"previousOccupations":{{ previousOccupationsInput|json_encode() }},"desiredOccupations":{{ desiredOccupationsInput|json_encode() }}}'/>

<div class="form-group button-group text-right">
	<button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
</div>
